.flows.json.backup
[{"id":"d47f9ae6.2bf798","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"8a0a444f.751b78","type":"tab","label":"Interfaz Teléfono","disabled":false,"info":""},{"id":"6e643c60.b53764","type":"tab","label":"Radar","disabled":true,"info":""},{"id":"f24f522c.5061","type":"tab","label":"Salidas GPIO","disabled":false,"info":""},{"id":"df558687.1df838","type":"tab","label":"Cámara","disabled":false,"info":""},{"id":"2acc8810.81c7a8","type":"tab","label":"On Init","disabled":false,"info":""},{"id":"c7c81a64.db1438","type":"tab","label":"Sistema (Exec)","disabled":false,"info":""},{"id":"2ce33584.a2bf7a","type":"tab","label":"Google Home ","disabled":false,"info":""},{"id":"8a7ddc8.106792","type":"tab","label":"Ngrok","disabled":false,"info":""},{"id":"28e94e1a.327fa2","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"2da2b35e.ce678c","type":"subflow","name":"GoogleHomeNotification","info":"","in":[{"x":50,"y":30,"wires":[{"id":"687a9f02.3bc6d"}]}],"out":[]},{"id":"bee2253d.9a6b68","type":"subflow","name":"GoogleHomeNotification (2)","info":"","in":[{"x":50,"y":30,"wires":[{"id":"fd3b842f.b61bf8"}]}],"out":[]},{"id":"297d98cf.7fbae8","type":"ui_base","z":0,"theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#cc0000","baseFont":"Courier,monospace","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#cc0000","edited":true},"page-titlebar-backgroundColor":{"value":"#cc0000","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ff1a1a","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#cc0000","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Courier,monospace"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5fc7646b.c2b3dc","type":"ui_group","z":0,"name":"Motor Derecho","tab":"4594135a.ba6d1c","disp":true,"width":"6","collapse":false},{"id":"97fc8fdd.1b98f","type":"ui_group","z":0,"name":"Todo","tab":"4594135a.ba6d1c","disp":true,"width":"6","collapse":false},{"id":"db519559.6bab38","type":"ui_group","z":0,"name":"Motor Izquierdo","tab":"4594135a.ba6d1c","disp":true,"width":"6","collapse":false},{"id":"d07b0629.bfe388","type":"ui_group","z":"","name":"Botones","tab":"","disp":false,"width":"6","collapse":false},{"id":"14536bd0.490ea4","type":"ui_group","z":0,"name":"Apagado","tab":"4594135a.ba6d1c","disp":true,"width":"2","collapse":true},{"id":"4e88c210.bf9cac","type":"ui_group","z":0,"name":"D","tab":"","disp":true,"width":"6","collapse":false},{"id":"cc65aad1.dacdc8","type":"ui_group","z":0,"name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"4594135a.ba6d1c","type":"ui_tab","z":0,"name":"Motores","icon":"dashboard","disabled":false,"hidden":false},{"id":"fa0442b2.5a3d1","type":"ui_group","z":"","name":"Cámara","tab":"","disp":false,"width":"6","collapse":false},{"id":"ad6ed8bd.649658","type":"ui_tab","z":"","name":"Autónomo","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6f7c3b98.411e14","type":"ui_group","z":"","name":"Setup","tab":"ad6ed8bd.649658","order":2,"disp":true,"width":"6","collapse":false},{"id":"8714eca8.27de2","type":"mqtt-broker","z":"","name":"","broker":"web.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"504d9cda.7d0854","type":"ui_group","z":"","name":"WiFi","tab":"9c9c4a97.ee0658","order":2,"disp":true,"width":"6","collapse":true},{"id":"9c9c4a97.ee0658","type":"ui_tab","z":"","name":"Sistema","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"aaad0e65.b3469","type":"ui_group","z":"","name":"Botones","tab":"406d2d02.248ea4","order":2,"disp":false,"width":"6","collapse":false},{"id":"d0600652.9f6778","type":"ui_group","z":"","name":"Apagar","tab":"9c9c4a97.ee0658","order":1,"disp":true,"width":"6","collapse":false},{"id":"10bf36d5.d34829","type":"ui_group","z":"","name":"Cámara","tab":"406d2d02.248ea4","order":1,"disp":false,"width":"6","collapse":false},{"id":"406d2d02.248ea4","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e8574371.228a7","type":"ui_group","z":"","name":"Parámetros de Manejo","tab":"9c9c4a97.ee0658","order":3,"disp":true,"width":"6","collapse":false},{"id":"30684173.e2231e","type":"googlehome-config-node-offline","z":"2da2b35e.ce678c","ipaddress":"192.168.20.194","name":"Google Home","language":"fr"},{"id":"e12130ea.34705","type":"googlehome-config-node-offline","z":"2da2b35e.ce678c","ipaddress":"192.168.20.197","name":"Google Home Mini","language":"fr"},{"id":"5ebdb320.8a967c","type":"googlehome-config-node-offline","z":"","ipaddress":"192.168.1.45","name":"Inventoteca Home Mini","language":"es"},{"id":"3ad0e292.3924ce","type":"telegrambot-config","z":"","botname":"elbot","usernames":"","chatIds":"","pollInterval":"300"},{"id":"7ab72cee.d66ef4","type":"telegrambot-config","z":"","botname":"RedFire","usernames":"","chatIds":"","pollInterval":"300"},{"id":"2d81279b.148db8","type":"googlehome-config-node-offline","z":"bee2253d.9a6b68","ipaddress":"192.168.20.194","name":"Google Home","language":"fr"},{"id":"8d9ee5fd.2d7d48","type":"googlehome-config-node-offline","z":"bee2253d.9a6b68","ipaddress":"192.168.20.197","name":"Google Home Mini","language":"fr"},{"id":"2655950d.6db8ea","type":"ngrokauth","z":"8a7ddc8.106792"},{"id":"73c28399.48fcdc","type":"switch","z":"2da2b35e.ce678c","name":"GoogleNotifyDestination","property":"destination","propertyType":"msg","rules":[{"t":"eq","v":"living","vt":"str"},{"t":"eq","v":"bureau","vt":"str"},{"t":"eq","v":"all","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":260,"wires":[["57710af4.c4e894"],["bfd9c137.14da6"],["57710af4.c4e894","bfd9c137.14da6"]],"outputLabels":["Google Home","Google Home mini",""]},{"id":"57710af4.c4e894","type":"googlehome-notifier-offline","z":"2da2b35e.ce678c","server":"30684173.e2231e","name":"Google Home","x":800,"y":180,"wires":[]},{"id":"bfd9c137.14da6","type":"googlehome-notifier-offline","z":"2da2b35e.ce678c","server":"e12130ea.34705","name":"Google Home Mini","x":790,"y":320,"wires":[]},{"id":"687a9f02.3bc6d","type":"change","z":"2da2b35e.ce678c","name":"","rules":[{"t":"set","p":"cacheFolder","pt":"msg","to":"d:\\tmp\\GHCache","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":260,"wires":[["73c28399.48fcdc"]]},{"id":"68d81c97.1e1124","type":"rpi-srf","z":"6e643c60.b53764","name":"Frente","topic":"SRF","pulse":"0.06","pins":"21,22","x":90,"y":200,"wires":[["692fd1b9.48548","81757720.81e0d8"]]},{"id":"5849be9d.21c88","type":"pi-gpiod out","z":"f24f522c.5061","name":"Izquierda-B","host":"localhost","port":8888,"pin":"22","set":"","level":"0","out":"pwm","sermin":"1000","sermax":"2000","x":690,"y":420,"wires":[]},{"id":"b4c0a508.ed7e08","type":"pi-gpiod out","z":"f24f522c.5061","name":"Izquierda-A","host":"localhost","port":8888,"pin":"23","set":"","level":"0","out":"pwm","sermin":"1000","sermax":"2000","x":690,"y":360,"wires":[]},{"id":"d7bdd076.91bd4","type":"pi-gpiod out","z":"f24f522c.5061","name":"Derecha-B","host":"localhost","port":8888,"pin":"18","set":"","level":"0","out":"pwm","sermin":"1000","sermax":"2000","x":690,"y":540,"wires":[]},{"id":"c5c2a14d.ba08d","type":"pi-gpiod out","z":"f24f522c.5061","name":"Derecha-A","host":"localhost","port":8888,"pin":"17","set":"","level":"0","out":"pwm","sermin":"1000","sermax":"2000","x":690,"y":480,"wires":[]},{"id":"bee2f959.7c1fd8","type":"inject","z":"6e643c60.b53764","name":"","topic":"","payload":"","payloadType":"str","repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["e5dc70e7.7f0fd"]]},{"id":"288cb4a8.31155c","type":"function","z":"6e643c60.b53764","name":"barrido-sensor","func":"var pos = global.get('posRadar');\nvar subida = flow.get('subida');\nvar dist = flow.get('dist')\n//var posiciones = flow.get();\n\nif(subida === true)\n{\n  pos = pos +5;\n  if(pos >= 75)\n  {\n      flow.set('subida',false);\n      pos = 75;\n  }\n}\nelse\n{\n  pos = pos -5;\n  if(pos <= 20)\n  {\n      flow.set('subida',true);\n      pos = 20;\n  }\n}\n\n\nvar msg2 = {payload: pos}\n\nmsg = {topic: pos.toString()};\nmsg = {payload: dist};\nglobal.set('posRadar',pos);\nflow.set('posAtr',pos + 75);\n\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":480,"y":380,"wires":[[],["45938d63.ca6944","bb65e17a.9b4e7"]]},{"id":"e5dc70e7.7f0fd","type":"switch","z":"6e643c60.b53764","name":"radar?","property":"radar","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":380,"wires":[["288cb4a8.31155c"]]},{"id":"1c94bfa4.6ba62","type":"change","z":"6e643c60.b53764","name":"","rules":[{"t":"set","p":"dist","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":200,"wires":[["a9e3f6a1.aca688"]]},{"id":"a9e3f6a1.aca688","type":"change","z":"6e643c60.b53764","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"posRadar","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[["b6b6b4e8.533a18","ae53b0a9.a103f","484c4e44.859f3"]]},{"id":"692fd1b9.48548","type":"smooth","z":"6e643c60.b53764","name":"","property":"payload","action":"mean","count":"3","round":"0","mult":"single","reduce":true,"x":260,"y":200,"wires":[["1c94bfa4.6ba62","9457a1e2.c169a"]]},{"id":"6ec5a35c.a502cc","type":"inject","z":"c7c81a64.db1438","name":"","topic":"","payload":"sudo reboot","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["fb4be1f9.47d6"]]},{"id":"fb4be1f9.47d6","type":"exec","z":"c7c81a64.db1438","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":120,"wires":[[],[],[]]},{"id":"51e4d789.83dac8","type":"inject","z":"c7c81a64.db1438","name":"","topic":"","payload":"sudo halt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["9356fa74.5fdb88"]]},{"id":"9356fa74.5fdb88","type":"exec","z":"c7c81a64.db1438","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":200,"wires":[[],[],[]]},{"id":"b6b6b4e8.533a18","type":"function","z":"6e643c60.b53764","name":"direccion-automatica","func":"var pos = msg.topic;\nvar dist = msg.payload;\nvar posiciones = global.get('posiciones')|| Array(10);\nvar max;\nvar sector;\nvar distMin = global.get('distMin')||100;  // Distancia minima\nvar distProm = global.get('distProm')||distMin;\n\npos = (pos/5)-4;\n \nposiciones[pos] = dist;\n\nmax = Math.max.apply(null,posiciones);\nsector = posiciones.indexOf(max);\n\nif((max < distMin) || (distProm < distMin))\n{\n    global.set('reversa',true);\n}\nelse\n{\n   global.set('reversa',false); \n}\n\nglobal.set('posiciones',posiciones);\nglobal.set('max',max);\nglobal.set('sector',sector);\n\nmsg = {payload:sector};\nvar msg2 = {payload:max};\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":820,"y":160,"wires":[["64cee509.e27c3c"],[]]},{"id":"10cd3a6b.49ff16","type":"function","z":"f24f522c.5061","name":"motores","func":"var reversa = global.get('reversa');\nvar radar = global.get('radar');\nvar auto = global.get('auto');\nvar motDA, motDB, motIA, motIB;\nvar velMax = global.get('velMax')||100;\nvar pwmD = velMax;\nvar pwmI = velMax;\nvar sector = global.get('sector')||5;\nvar motores = global.get('motores')||false;\n\n\n\nif(reversa === true)\n{\n    if((sector < 4)) // Esta libre la izquierda\n    {\n       pwmI = velMax;\n       pwmD = velMax - (Math.abs((sector - 4)*10));\n    }\n    else if(sector > 5) // esta libre la derecha\n    {\n        pwmI = velMax - (Math.abs((5 - sector)*10));\n        pwmD = velMax;\n    }\n    else\n    {\n        pwmI= velMax;\n        pwmD = velMax;\n    }\n}\nelse\n{\n   if((sector < 4)) // Esta libre la izquierda\n    {\n       pwmI = velMax - (Math.abs((sector - 4)*10));\n       pwmD = velMax;\n    }\n    else if(sector > 5) // esta libre la derecha\n    {\n        pwmI = velMax;\n        pwmD = velMax - (Math.abs((5 - sector)*10));\n    }\n    else\n    {\n        pwmI= velMax;\n        pwmD = velMax;\n    } \n}\n\nif((reversa === true) && ((auto === true) || motores === true)) // No hay reversa\n{\n    motDA = {payload:0};\n    motDB = {payload:pwmD};\n    motIA = {payload:0};\n    motIB = {payload:pwmI};\n}\nelse if((reversa === false) && ((auto === true) || (motores === true)))\n{\n    motDA = {payload:pwmD};\n    motDB = {payload:0};\n    motIA = {payload:pwmI};\n    motIB = {payload:0};\n}\nelse\n{\n    motDA = {payload:0};\n    motDB = {payload:0};\n    motIA = {payload:0};\n    motIB = {payload:0};\n}\n\nreturn [motIA,motIB,motDA,motDB];","outputs":4,"noerr":0,"x":280,"y":460,"wires":[["215c12fb.7a975e"],["af213fec.ce1d5"],["7b3dabeb.064624"],["f9bf105b.4e1d8"]]},{"id":"8db34a58.037c88","type":"link in","z":"f24f522c.5061","name":"motores-radar","links":["1ebd748.7289e8c","d10ead93.65bb1","29e623d1.4757fc","796ec44a.ba074c"],"x":155,"y":460,"wires":[["10cd3a6b.49ff16"]]},{"id":"bfc90e45.ae98b","type":"ui_slider","z":"d47f9ae6.2bf798","name":"","label":"Velocidad Máxima","tooltip":"","group":"e8574371.228a7","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"35","max":"100","step":1,"x":270,"y":100,"wires":[["d6281bc8.ce6578"]]},{"id":"d6281bc8.ce6578","type":"change","z":"d47f9ae6.2bf798","name":"","rules":[{"t":"set","p":"velMax","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":100,"wires":[[]]},{"id":"7d22062a.092cb8","type":"ui_slider","z":"d47f9ae6.2bf798","name":"","label":"Distancia Minima","tooltip":"","group":"6f7c3b98.411e14","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"100","step":1,"x":270,"y":160,"wires":[["491277c4.e76cf8"]]},{"id":"491277c4.e76cf8","type":"change","z":"d47f9ae6.2bf798","name":"","rules":[{"t":"set","p":"distMin","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":160,"wires":[[]]},{"id":"2c6f0431.92709c","type":"smooth","z":"6e643c60.b53764","name":"","property":"payload","action":"mean","count":"6","round":"0","mult":"single","reduce":true,"x":260,"y":240,"wires":[[]]},{"id":"9457a1e2.c169a","type":"change","z":"6e643c60.b53764","name":"","rules":[{"t":"set","p":"distProm","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":240,"wires":[["4e6d5772.618108"]]},{"id":"7d4edd41.02f334","type":"ui_text_input","z":"d47f9ae6.2bf798","name":"","label":"SSID","tooltip":"","group":"504d9cda.7d0854","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":250,"y":640,"wires":[["58a21956.2d8138"]]},{"id":"58a21956.2d8138","type":"change","z":"d47f9ae6.2bf798","name":"","rules":[{"t":"set","p":"ssid","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":640,"wires":[[]]},{"id":"332e582e.51ef58","type":"ui_text_input","z":"d47f9ae6.2bf798","name":"","label":"KEY","tooltip":"","group":"504d9cda.7d0854","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":"0","topic":"","x":250,"y":680,"wires":[["560c4c7b.aa6544"]]},{"id":"560c4c7b.aa6544","type":"change","z":"d47f9ae6.2bf798","name":"","rules":[{"t":"set","p":"psk","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":680,"wires":[[]]},{"id":"81a36dc9.80f2c","type":"ui_button","z":"d47f9ae6.2bf798","name":"","group":"504d9cda.7d0854","order":3,"width":0,"height":0,"passthru":false,"label":"Agregar WiFi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Nueva Red","x":210,"y":720,"wires":[["29b59fa3.94611"]]},{"id":"7949855e.5454ac","type":"link out","z":"d47f9ae6.2bf798","name":"ui-agregar-wifi","links":["ae68b855.e51c28"],"x":495,"y":720,"wires":[]},{"id":"29b59fa3.94611","type":"ui_toast","z":"d47f9ae6.2bf798","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Agregar","cancel":"Cancelar","raw":false,"topic":"¿Seguro que deseas agregar una nueva red?","name":"¿Seguro?","x":380,"y":720,"wires":[["7949855e.5454ac"]]},{"id":"ad14a7fc.241638","type":"link in","z":"d47f9ae6.2bf798","name":"ui-ssid","links":["9b10bc2c.3d697","c0d73a10.7dc578","cebb0268.fd78c"],"x":155,"y":640,"wires":[["7d4edd41.02f334"]]},{"id":"ae68b855.e51c28","type":"link in","z":"c7c81a64.db1438","name":"sistema-agregar-wifi","links":["7949855e.5454ac"],"x":575,"y":120,"wires":[["e6f3dc56.1f20e"]]},{"id":"62d450c3.edc9a","type":"comment","z":"c7c81a64.db1438","name":"Agregar WiFi","info":"","x":630,"y":60,"wires":[]},{"id":"e97c7c4b.9868b","type":"exec","z":"c7c81a64.db1438","command":"ifconfig wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":340,"y":480,"wires":[["9ad56468.7a4e08"],[],[]]},{"id":"1a8c4323.2dc83d","type":"link out","z":"c7c81a64.db1438","name":"sistema-respuesta-ip","links":["eb46a588.815758","a8c90c1a.b31fe"],"x":1055,"y":500,"wires":[]},{"id":"cec73ff.2b7e5c","type":"comment","z":"c7c81a64.db1438","name":"IP","info":"","x":90,"y":460,"wires":[]},{"id":"a233d169.05a13","type":"switch","z":"c7c81a64.db1438","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"inet","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":480,"wires":[["ca003363.30824"]]},{"id":"9ad56468.7a4e08","type":"split","z":"c7c81a64.db1438","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":480,"wires":[["a233d169.05a13"]]},{"id":"e1a82bb2.bb5d98","type":"debug","z":"c7c81a64.db1438","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":460,"wires":[]},{"id":"ca003363.30824","type":"switch","z":"c7c81a64.db1438","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"inet6","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":480,"wires":[[],["e1a82bb2.bb5d98","1a8c4323.2dc83d"]]},{"id":"b662c53b.df2d48","type":"exec","z":"c7c81a64.db1438","command":"iwconfig wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":340,"y":560,"wires":[["7758072b.f454d8"],["7758072b.f454d8"],["7758072b.f454d8"]]},{"id":"2688c8b6.ad7918","type":"debug","z":"c7c81a64.db1438","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":540,"wires":[]},{"id":"c46568a9.59f548","type":"switch","z":"c7c81a64.db1438","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ESSID:","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":560,"wires":[["73ce8d82.73a874"]]},{"id":"7758072b.f454d8","type":"split","z":"c7c81a64.db1438","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":560,"wires":[["c46568a9.59f548"]]},{"id":"73ce8d82.73a874","type":"split","z":"c7c81a64.db1438","name":"","splt":":","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":560,"wires":[["fd324bf3.4c53c8"]]},{"id":"fd324bf3.4c53c8","type":"switch","z":"c7c81a64.db1438","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ESSID","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":560,"wires":[["2688c8b6.ad7918"],["9b10bc2c.3d697"]]},{"id":"9b10bc2c.3d697","type":"link out","z":"c7c81a64.db1438","name":"sistema-ssid","links":["ad14a7fc.241638"],"x":1055,"y":580,"wires":[]},{"id":"3ef416b2.6eb09a","type":"ui_text","z":"d47f9ae6.2bf798","group":"504d9cda.7d0854","order":4,"width":0,"height":0,"name":"Show IP","label":"IP","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":760,"wires":[]},{"id":"a8c90c1a.b31fe","type":"link in","z":"d47f9ae6.2bf798","name":"ui-ip","links":["1a8c4323.2dc83d"],"x":155,"y":760,"wires":[["3ef416b2.6eb09a"]]},{"id":"640c31e4.feb4c","type":"inject","z":"c7c81a64.db1438","name":"WiFi Reboot","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"60","x":140,"y":520,"wires":[["e97c7c4b.9868b","b662c53b.df2d48"]]},{"id":"a1c4e8da.61a1c8","type":"ui_template","z":"8a0a444f.751b78","group":"aaad0e65.b3469","name":"Adelante","order":4,"width":"2","height":"1","format":"<div class=\"momentaryad vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\"> \n    <i class=\"fa fa-arrow-up fa-2x\"></i>\n</md-button>\n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryad').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior}\n    navigator.vibrate(30);\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryad').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":240,"y":200,"wires":[["5b707dfa.6f2f14","f0ad2c09.36e9d","9b8e3ad1.188148"]]},{"id":"6aafc95f.643588","type":"ui_template","z":"8a0a444f.751b78","group":"aaad0e65.b3469","name":"Derecha","order":8,"width":"2","height":"1","format":"<div class=\"momentaryder vibrate filled touched bigfont rounded\" style=\"background-color:#009999\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#009999\">  \n   <i class=\"fa fa-arrow-right fa-2x\" aria-hidden=\"true\"></i>\n<script>\n(function($scope) {\n$('.momentaryder').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    navigator.vibrate(30);\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryder').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n</md-button>\n</center>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":240,"y":240,"wires":[["74c9bae3.de5574","9b8e3ad1.188148","5b707dfa.6f2f14"]]},{"id":"ca62b602.498198","type":"ui_template","z":"8a0a444f.751b78","group":"aaad0e65.b3469","name":"arriba der","order":5,"width":"2","height":"1","format":"<div class=\"momentaryarder vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\">  \n    <i class=\"fa fa-reply fa-2x fa-flip-horizontal\"></i>\n</md-button> \n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryarder').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    navigator.vibrate(30);\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryarder').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":240,"y":160,"wires":[["5b707dfa.6f2f14","9b8e3ad1.188148","7eed3f80.e2183"]]},{"id":"1c6a3b7a.31bea5","type":"ui_template","z":"8a0a444f.751b78","group":"aaad0e65.b3469","name":"Izquierda","order":6,"width":"2","height":"1","format":"<div class=\"momentaryiz vibrate filled touched bigfont rounded\" style=\"background-color:#009999\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#009999\"> \n    <i class=\"fa fa-arrow-left fa-2x\" aria-hidden=\"true\"></i>\n</md-button>\n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryiz').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    navigator.vibrate(30);\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryiz').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":240,"y":280,"wires":[["80f72754.dc8e98","9b8e3ad1.188148","5b707dfa.6f2f14"]]},{"id":"772c1942.d2d258","type":"ui_template","z":"8a0a444f.751b78","group":"aaad0e65.b3469","name":"Centro","order":7,"width":"2","height":"1","format":"   \n<div class=\"momentarycen vibrate filled touched bigfont rounded\" style={{(msg.payload)}}>\n<center>\n<md-button class=\"filled touched bigfont rounded\" style={{(msg.payload)}}> \n    Motores<br/><i class=\"fa fa-power-off\" aria-hidden=\"true\"></i>\n</md-button>\n</center>\n</div>\n\n<script>\n(function($scope) {\n$('.momentarycen').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    navigator.vibrate(30);\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentarycen').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    //$scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":230,"y":480,"wires":[["693cb2c5.f7075c"]]},{"id":"20939e98.8a7e82","type":"ui_template","z":"8a0a444f.751b78","group":"aaad0e65.b3469","name":"abajo iz","order":9,"width":"2","height":"1","format":" <div class=\"momentaryabiz vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\"> \n    <i class=\"fa fa-reply fa-2x fa-flip-vertical\"></i>\n</md-button>\n</center>\n</div>\n\n<script>\n(function($scope) \n{\n$('.momentaryabiz').on('touchstart mousedown', function(e) \n    {\n        e.preventDefault(); //prevent default behavior\n        navigator.vibrate(30);\n        $scope.send({\"payload\": 1});\n    });\n\n$('.momentaryabiz').on('touchend mouseup', function(e) \n    {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"payload\": 0});\n    });\n})(scope);\n</script>\n\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":240,"y":400,"wires":[["5e104a21.ae1d34","9b8e3ad1.188148","b2c87781.44daa8"]]},{"id":"e9c4a97d.0c4648","type":"ui_template","z":"8a0a444f.751b78","group":"aaad0e65.b3469","name":"Atrás","order":10,"width":"2","height":"1","format":"<div class=\"momentaryat vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button \n   class=\"filled touched bigfont rounded\" \n   style=\"background-color:#c0392b\">\n   <i class=\"fa fa-arrow-down fa-2x\" aria-hidden=\"true\"></i>\n</md-button> \n</center>\n<script>\n(function($scope) {\n$('.momentaryat').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    navigator.vibrate(30);\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryat').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n</div>\n\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":230,"y":320,"wires":[["5e104a21.ae1d34","f0ad2c09.36e9d","9b8e3ad1.188148"]]},{"id":"852e1499.6d61a8","type":"ui_template","z":"8a0a444f.751b78","group":"aaad0e65.b3469","name":"arriba Iz","order":3,"width":"2","height":"1","format":"<div class=\"momentaryariz vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\"> \n    <i class=\"fa fa-reply fa-2x\"></i>\n</md-button>\n</center>\n</div>\n\n<script>\n(function($scope) {\n$('.momentaryariz').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    navigator.vibrate(30);\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryariz').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":240,"y":120,"wires":[["5b707dfa.6f2f14","9b8e3ad1.188148","8c6ef427.47cad8","b2c87781.44daa8"]]},{"id":"b27367bd.8164a8","type":"ui_template","z":"8a0a444f.751b78","group":"aaad0e65.b3469","name":"abajo der","order":11,"width":"2","height":"1","format":"<div class=\"momentaryabder vibrate filled bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"bigfont rounded\" style=\"background-color:#c0392b\"> \n    <i class=\"fa fa-reply fa-2x fa-rotate-180\"></i>\n</md-button> \n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryabder').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    navigator.vibrate(30);\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryabder').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":240,"y":360,"wires":[["5e104a21.ae1d34","9b8e3ad1.188148","7eed3f80.e2183"]]},{"id":"15e60646.60f7ba","type":"change","z":"8a0a444f.751b78","name":"Motores On","rules":[{"t":"set","p":"motores","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":280,"wires":[["5d87f446.5825fc"]]},{"id":"5b707dfa.6f2f14","type":"change","z":"8a0a444f.751b78","name":"Adelante","rules":[{"t":"set","p":"reversa","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":500,"wires":[["d10ead93.65bb1"]]},{"id":"5e104a21.ae1d34","type":"change","z":"8a0a444f.751b78","name":"Reversa","rules":[{"t":"set","p":"reversa","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["d10ead93.65bb1"]]},{"id":"74c9bae3.de5574","type":"change","z":"8a0a444f.751b78","name":"RightLimit","rules":[{"t":"set","p":"payload","pt":"msg","to":"limiteDer","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":120,"wires":[["cccc7c21.b418b"]]},{"id":"80f72754.dc8e98","type":"change","z":"8a0a444f.751b78","name":"LeftLimit","rules":[{"t":"set","p":"payload","pt":"msg","to":"limiteIzq","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":80,"wires":[["cccc7c21.b418b"]]},{"id":"f0ad2c09.36e9d","type":"change","z":"8a0a444f.751b78","name":"Center","rules":[{"t":"set","p":"payload","pt":"msg","to":"centro","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[["cccc7c21.b418b"]]},{"id":"2ca14cba.ca5e94","type":"link out","z":"6e643c60.b53764","name":"radar-volante","links":["3b540816.53f838","6ab354ed.4d350c","3c4070fc.4b028","d3e3d9ee.ced988","85317f40.3f73b"],"x":1075,"y":160,"wires":[]},{"id":"cccc7c21.b418b","type":"link out","z":"8a0a444f.751b78","name":"telefono-volante","links":["85317f40.3f73b"],"x":835,"y":180,"wires":[]},{"id":"64cee509.e27c3c","type":"switch","z":"6e643c60.b53764","name":"auto?","property":"auto","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":160,"wires":[["2ca14cba.ca5e94"]]},{"id":"f6e04abd.ce2ec8","type":"ui_button","z":"d47f9ae6.2bf798","name":"","group":"d0600652.9f6778","order":0,"width":0,"height":0,"passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"¿Apagar?","payloadType":"str","topic":"","x":720,"y":100,"wires":[["9711f5ab.810148"]]},{"id":"b30fea42.8f09c8","type":"link out","z":"d47f9ae6.2bf798","name":"ui-apagar","links":["cb98fd1d.23657"],"x":975,"y":120,"wires":[]},{"id":"cb98fd1d.23657","type":"link in","z":"c7c81a64.db1438","name":"sistema-apagar","links":["b30fea42.8f09c8"],"x":175,"y":160,"wires":[["9356fa74.5fdb88","fb4be1f9.47d6"]]},{"id":"336f0e98.bcdc52","type":"ui_button","z":"d47f9ae6.2bf798","name":"","group":"d0600652.9f6778","order":0,"width":0,"height":0,"passthru":false,"label":"Reiniciar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"¿Reiniciar?","payloadType":"str","topic":"","x":720,"y":140,"wires":[["9711f5ab.810148"]]},{"id":"2bfacba6.ee8de4","type":"change","z":"8a0a444f.751b78","name":"Motores Off","rules":[{"t":"set","p":"motores","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":340,"wires":[["d10ead93.65bb1"]]},{"id":"d10ead93.65bb1","type":"link out","z":"8a0a444f.751b78","name":"telefono-motores","links":["8db34a58.037c88"],"x":1135,"y":380,"wires":[]},{"id":"ae53b0a9.a103f","type":"switch","z":"6e643c60.b53764","name":"auto?","property":"auto","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":200,"wires":[["29e623d1.4757fc"]]},{"id":"5d87f446.5825fc","type":"change","z":"8a0a444f.751b78","name":"Control temporal","rules":[{"t":"set","p":"temporal","pt":"global","to":"auto","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":280,"wires":[["cbfa561c.1bfcf8"]]},{"id":"9b8e3ad1.188148","type":"switch","z":"8a0a444f.751b78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":320,"wires":[["15e60646.60f7ba"],["171d428f.baef4d"]]},{"id":"cbfa561c.1bfcf8","type":"change","z":"8a0a444f.751b78","name":"auto off","rules":[{"t":"set","p":"auto","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":280,"wires":[["d10ead93.65bb1"]]},{"id":"171d428f.baef4d","type":"change","z":"8a0a444f.751b78","name":"Control temporal","rules":[{"t":"set","p":"auto","pt":"global","to":"temporal","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":340,"wires":[["e8cbc4d4.a9b068"]]},{"id":"1c91d781.d0c8e8","type":"change","z":"8a0a444f.751b78","name":"motores on","rules":[{"t":"set","p":"motores","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"llave","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":460,"wires":[["5b707dfa.6f2f14"]]},{"id":"693cb2c5.f7075c","type":"switch","z":"8a0a444f.751b78","name":"","property":"motores","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":480,"wires":[["1c91d781.d0c8e8","87632971.cb2fe8"],["43ba4e4.29bb2b","dd9e9440.e9a008"]]},{"id":"43ba4e4.29bb2b","type":"change","z":"8a0a444f.751b78","name":"motores off","rules":[{"t":"set","p":"motores","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"llave","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"auto","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"radar","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":500,"wires":[["5b707dfa.6f2f14","75617e3a.4a90e"]]},{"id":"5b04e46c.ac84ac","type":"inject","z":"df558687.1df838","name":"","topic":"","payload":"","payloadType":"str","repeat":"0.05","crontab":"","once":false,"onceDelay":"5","x":170,"y":140,"wires":[["80038dbe.f9c1e"]]},{"id":"80038dbe.f9c1e","type":"file in","z":"df558687.1df838","name":"","filename":"/dev/shm/mjpeg/cam.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":410,"y":140,"wires":[["96526555.fed158","6aa42690.d43cd8"]]},{"id":"3ff4cfca.a7a2a","type":"template","z":"df558687.1df838","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":760,"y":140,"wires":[["844d5169.fb276"]]},{"id":"7f348d82.07eb74","type":"comment","z":"df558687.1df838","name":"Es necesario activar esto: https://elinux.org/RPi-Cam-Web-Interface","info":"","x":740,"y":220,"wires":[]},{"id":"adbf65db.505068","type":"comment","z":"df558687.1df838","name":"Regula el FPS pero causa delay","info":"","x":230,"y":220,"wires":[]},{"id":"75897e37.dffbf","type":"ui_template","z":"df558687.1df838","group":"aaad0e65.b3469","name":"Video","order":2,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1190,"y":140,"wires":[[]]},{"id":"96526555.fed158","type":"base64","z":"df558687.1df838","name":"","action":"str","property":"payload","x":600,"y":140,"wires":[["3ff4cfca.a7a2a"]]},{"id":"10271fe8.e8c37","type":"comment","z":"df558687.1df838","name":"Habilitar y desplegar para empezar a correr la transmisión de video.","info":"","x":340,"y":60,"wires":[]},{"id":"75569de6.d1f234","type":"rpi-srf","z":"6e643c60.b53764","d":true,"name":"Atras","topic":"SRF","pulse":"0.06","pins":"31,29","x":130,"y":100,"wires":[["a8b3ac43.3828e"]]},{"id":"fc951b33.ccc208","type":"change","z":"6e643c60.b53764","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"posAtr","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":100,"wires":[["81757720.81e0d8"]]},{"id":"a8b3ac43.3828e","type":"smooth","z":"6e643c60.b53764","name":"","property":"payload","action":"mean","count":"3","round":"0","mult":"single","reduce":true,"x":260,"y":100,"wires":[["fc951b33.ccc208"]]},{"id":"d27d3f0c.e4c74","type":"ui_switch","z":"d47f9ae6.2bf798","name":"","label":"Invertir derecha","tooltip":"","group":"e8574371.228a7","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":260,"y":220,"wires":[["24525b90.45dd74"]]},{"id":"319a0297.77bf0e","type":"ui_switch","z":"d47f9ae6.2bf798","name":"","label":"Invertir izquierda","tooltip":"","group":"e8574371.228a7","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":280,"wires":[["78439edb.9f56b"]]},{"id":"24525b90.45dd74","type":"change","z":"d47f9ae6.2bf798","name":"","rules":[{"t":"set","p":"invDer","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":220,"wires":[[]]},{"id":"78439edb.9f56b","type":"change","z":"d47f9ae6.2bf798","name":"","rules":[{"t":"set","p":"invIzq","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":280,"wires":[[]]},{"id":"215c12fb.7a975e","type":"switch","z":"f24f522c.5061","name":"izquierda invertida?","property":"invIzq","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":360,"wires":[["b4c0a508.ed7e08"],["5849be9d.21c88"]]},{"id":"af213fec.ce1d5","type":"switch","z":"f24f522c.5061","name":"izquierda invertida?","property":"invIzq","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":440,"wires":[["5849be9d.21c88"],["b4c0a508.ed7e08"]]},{"id":"7b3dabeb.064624","type":"switch","z":"f24f522c.5061","name":"derecha invertida?","property":"invDer","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":480,"wires":[["c5c2a14d.ba08d"],["d7bdd076.91bd4"]]},{"id":"f9bf105b.4e1d8","type":"switch","z":"f24f522c.5061","name":"derecha invertida?","property":"invDer","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":540,"wires":[["d7bdd076.91bd4"],["c5c2a14d.ba08d"]]},{"id":"e8cbc4d4.a9b068","type":"switch","z":"8a0a444f.751b78","name":"T or F","property":"llave","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":340,"wires":[["2bfacba6.ee8de4"],["d10ead93.65bb1","f0ad2c09.36e9d"]]},{"id":"81757720.81e0d8","type":"debug","z":"6e643c60.b53764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":140,"wires":[]},{"id":"75617e3a.4a90e","type":"link out","z":"8a0a444f.751b78","name":"telefono-auto-off","links":["86d2629c.66825","52be6874.1e1168"],"x":655,"y":580,"wires":[]},{"id":"45938d63.ca6944","type":"delay","z":"6e643c60.b53764","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":650,"y":340,"wires":[["9cf91d36.1314e"]]},{"id":"844d5169.fb276","type":"delay","z":"df558687.1df838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":970,"y":140,"wires":[["75897e37.dffbf"]]},{"id":"29e623d1.4757fc","type":"link out","z":"6e643c60.b53764","name":"distancia-radar","links":["8db34a58.037c88"],"x":1075,"y":200,"wires":[]},{"id":"d8a99cea.2cc77","type":"comment","z":"6e643c60.b53764","name":"Lecturas de Ultrasónicos","info":"","x":190,"y":60,"wires":[]},{"id":"51d8f941.dca4d8","type":"comment","z":"6e643c60.b53764","name":"Barrido del radar","info":"","x":160,"y":340,"wires":[]},{"id":"540ab9bb.a326b8","type":"comment","z":"c7c81a64.db1438","name":"Básicas ","info":"","x":90,"y":60,"wires":[]},{"id":"4908f29a.6c583c","type":"inject","z":"c7c81a64.db1438","name":"Tomar foto","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["f9645fc8.d2d09"]]},{"id":"f9645fc8.d2d09","type":"exec","z":"c7c81a64.db1438","command":"raspistill -rot 90 -o ventana.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":320,"wires":[["b8400210.a1ae9","1f14a9ee.fe4436"],["b8400210.a1ae9"],["b8400210.a1ae9"]]},{"id":"b8400210.a1ae9","type":"debug","z":"c7c81a64.db1438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":280,"wires":[]},{"id":"dde78939.aa0128","type":"exec","z":"c7c81a64.db1438","command":"raspivid -rot 90 -o vid.h264","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":380,"y":380,"wires":[[],[],[]]},{"id":"35fdf8a1.7e84d8","type":"inject","z":"c7c81a64.db1438","name":"Tomar video","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":380,"wires":[["dde78939.aa0128"]]},{"id":"1f14a9ee.fe4436","type":"link out","z":"c7c81a64.db1438","name":"TomarFoto_Begin","links":["74333ea.210e2c"],"x":595,"y":320,"wires":[]},{"id":"9e7c3369.8c727","type":"comment","z":"c7c81a64.db1438","name":"Pruebas cámara","info":"","x":120,"y":260,"wires":[]},{"id":"b4f5426b.863bb","type":"link in","z":"d47f9ae6.2bf798","name":"velMax_End","links":["1a34ed99.aebe62","1eef6b27.270785"],"x":135,"y":100,"wires":[["bfc90e45.ae98b"]]},{"id":"dfafb9ea.6e0b48","type":"link in","z":"d47f9ae6.2bf798","name":"distMin_End","links":["fae2078b.3f6498","b87b56a6.4a4dd8"],"x":135,"y":160,"wires":[["7d22062a.092cb8"]]},{"id":"7858fa26.8c0f74","type":"inject","z":"2acc8810.81c7a8","name":"","topic":"","payload":"velMax","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":120,"wires":[["1eef6b27.270785"]]},{"id":"f5952ca4.cee3e","type":"inject","z":"2acc8810.81c7a8","name":"","topic":"","payload":"distMin","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":180,"wires":[["b87b56a6.4a4dd8"]]},{"id":"1eef6b27.270785","type":"link out","z":"2acc8810.81c7a8","name":"velMax_Begin","links":["b4f5426b.863bb"],"x":315,"y":120,"wires":[]},{"id":"b87b56a6.4a4dd8","type":"link out","z":"2acc8810.81c7a8","name":"distMin_Begin","links":["dfafb9ea.6e0b48"],"x":315,"y":180,"wires":[]},{"id":"c394a2ca.3e03b","type":"comment","z":"2acc8810.81c7a8","name":"Parámetros de manejo","info":"","x":200,"y":60,"wires":[]},{"id":"babc5f82.ec6ff","type":"comment","z":"d47f9ae6.2bf798","name":"Parámetros de manejo","info":"","x":220,"y":40,"wires":[]},{"id":"36f82ca0.6ae2a4","type":"link in","z":"d47f9ae6.2bf798","name":"ui-key_End","links":["30051913.1ce0c6","fe16bfc1.cd903"],"x":155,"y":680,"wires":[["332e582e.51ef58"]]},{"id":"2a95074e.77cfe8","type":"inject","z":"2acc8810.81c7a8","name":"","topic":"","payload":"ssid","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"70","x":550,"y":120,"wires":[["cebb0268.fd78c"]]},{"id":"d0486198.7a408","type":"inject","z":"2acc8810.81c7a8","name":"","topic":"","payload":"psk","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"70","x":549,"y":177,"wires":[["fe16bfc1.cd903"]]},{"id":"cebb0268.fd78c","type":"link out","z":"2acc8810.81c7a8","name":"ui-ssid_Begin","links":["ad14a7fc.241638"],"x":655,"y":120,"wires":[]},{"id":"fe16bfc1.cd903","type":"link out","z":"2acc8810.81c7a8","name":"ui-key_Begin","links":["36f82ca0.6ae2a4"],"x":655,"y":180,"wires":[]},{"id":"68f548b1.48e598","type":"comment","z":"2acc8810.81c7a8","name":"Configuración WiFi","info":"","x":550,"y":60,"wires":[]},{"id":"465a2da2.2cc944","type":"comment","z":"d47f9ae6.2bf798","name":"Configuración WiFi","info":"","x":210,"y":580,"wires":[]},{"id":"47605ed4.56f8a","type":"link in","z":"d47f9ae6.2bf798","name":"invDer_End","links":["b50f2514.6d1478","2e3b56a1.a6c79a"],"x":135,"y":220,"wires":[["d27d3f0c.e4c74"]]},{"id":"4d5b3a99.753784","type":"link in","z":"d47f9ae6.2bf798","name":"invIzq_End","links":["a25d4a14.838dc8","d5cda985.b90fe8"],"x":135,"y":280,"wires":[["319a0297.77bf0e"]]},{"id":"4760729b.6ec73c","type":"inject","z":"2acc8810.81c7a8","name":"","topic":"","payload":"invDer","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":240,"wires":[["2e3b56a1.a6c79a"]]},{"id":"39319a66.dc7d36","type":"inject","z":"2acc8810.81c7a8","name":"","topic":"","payload":"invIzq","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":300,"wires":[["d5cda985.b90fe8"]]},{"id":"2e3b56a1.a6c79a","type":"link out","z":"2acc8810.81c7a8","name":"invDer_Begin","links":["47605ed4.56f8a"],"x":315,"y":240,"wires":[]},{"id":"d5cda985.b90fe8","type":"link out","z":"2acc8810.81c7a8","name":"invIzq_Begin","links":["4d5b3a99.753784"],"x":315,"y":300,"wires":[]},{"id":"a09ba2b7.39a51","type":"comment","z":"d47f9ae6.2bf798","name":"Básicos","info":"","x":710,"y":40,"wires":[]},{"id":"c353276c.46da88","type":"ui_slider","z":"d47f9ae6.2bf798","name":"","label":"Volante","tooltip":"","group":"e8574371.228a7","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"100","max":"0","step":"1","x":440,"y":340,"wires":[["991aa5f6.0b0948"]]},{"id":"991aa5f6.0b0948","type":"link out","z":"d47f9ae6.2bf798","name":"volante_Begin","links":["a0c421c5.23025","85317f40.3f73b"],"x":555,"y":340,"wires":[]},{"id":"3cac1ace.8ebe86","type":"pi-gpiod out","z":"f24f522c.5061","name":"Volante","host":"localhost","port":8888,"pin":"26","set":"","level":"0","out":"ser","sermin":"500","sermax":"2500","x":700,"y":180,"wires":[]},{"id":"2fa37114.fb967e","type":"range","z":"f24f522c.5061","d":true,"minin":"0","maxin":"9","minout":"65","maxout":"25","action":"scale","round":true,"property":"payload","name":"map(0,9,65,25)","x":520,"y":60,"wires":[["3cac1ace.8ebe86","50f2ab79.dbaf14"]]},{"id":"48d370b8.6f525","type":"switch","z":"f24f522c.5061","d":true,"name":"reversa?","property":"reversa","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":80,"wires":[["2fa37114.fb967e"],["5200506b.8ec47"]]},{"id":"5200506b.8ec47","type":"range","z":"f24f522c.5061","d":true,"minin":"0","maxin":"9","minout":"25","maxout":"65","action":"scale","round":true,"property":"payload","name":"map(0,9,25,65)","x":520,"y":100,"wires":[["3cac1ace.8ebe86","50f2ab79.dbaf14"]]},{"id":"85317f40.3f73b","type":"link in","z":"f24f522c.5061","name":"volante","links":["cccc7c21.b418b","2ca14cba.ca5e94","991aa5f6.0b0948"],"x":155,"y":180,"wires":[["48d370b8.6f525","3cac1ace.8ebe86"]]},{"id":"b58b60c5.bebcf","type":"inject","z":"2acc8810.81c7a8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":530,"y":300,"wires":[["f8a1ff90.3f4e3"]]},{"id":"f8a1ff90.3f4e3","type":"change","z":"2acc8810.81c7a8","name":"","rules":[{"t":"set","p":"posRadar","pt":"global","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":300,"wires":[[]]},{"id":"947965b3.133f28","type":"inject","z":"2acc8810.81c7a8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":530,"y":340,"wires":[["52213e7e.a102e","968477ed.ba8638"]]},{"id":"52213e7e.a102e","type":"change","z":"2acc8810.81c7a8","name":"","rules":[{"t":"set","p":"motores","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":360,"wires":[[]]},{"id":"8f2fac93.5ff91","type":"inject","z":"2acc8810.81c7a8","name":"centro","topic":"","payload":"42.5","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"10","x":530,"y":380,"wires":[["aadfe424.9c7bb8"]]},{"id":"aadfe424.9c7bb8","type":"link out","z":"2acc8810.81c7a8","name":"ServoPos_Begin","links":["d4e9751.f286c88","d56eef5c.b6b94"],"x":815,"y":380,"wires":[]},{"id":"caf326b4.5fcfb8","type":"comment","z":"2acc8810.81c7a8","name":"Radar","info":"","x":510,"y":240,"wires":[]},{"id":"968477ed.ba8638","type":"link out","z":"2acc8810.81c7a8","name":"InitInFalse","links":["35f88c95.115744","c336970f.f4ff38"],"x":815,"y":340,"wires":[]},{"id":"796ec44a.ba074c","type":"link out","z":"d47f9ae6.2bf798","name":"distancia-radar","links":["8db34a58.037c88"],"x":1215,"y":620,"wires":[]},{"id":"2c4ef188.1c1c9e","type":"ui_switch","z":"d47f9ae6.2bf798","d":true,"name":"","label":"Autonomo","tooltip":"","group":"aaad0e65.b3469","order":12,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":620,"wires":[["49a49a39.bf6634","7d52fded.3a4f64"]]},{"id":"49a49a39.bf6634","type":"change","z":"d47f9ae6.2bf798","name":"","rules":[{"t":"set","p":"auto","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":620,"wires":[["796ec44a.ba074c","2c4ef188.1c1c9e"]]},{"id":"185b2cfc.4a9013","type":"ui_switch","z":"d47f9ae6.2bf798","d":true,"name":"RadarSetup","label":"Radar","tooltip":"","group":"6f7c3b98.411e14","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":760,"wires":[["93524585.c86528","1654c7f1.91bc38"]]},{"id":"93524585.c86528","type":"change","z":"d47f9ae6.2bf798","name":"","rules":[{"t":"set","p":"radar","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":760,"wires":[["185b2cfc.4a9013","acb53a7a.ce66a8"]]},{"id":"7d52fded.3a4f64","type":"switch","z":"d47f9ae6.2bf798","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":680,"wires":[["1654c7f1.91bc38","93524585.c86528"]]},{"id":"1654c7f1.91bc38","type":"switch","z":"d47f9ae6.2bf798","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":680,"wires":[["49a49a39.bf6634","93524585.c86528"]]},{"id":"52be6874.1e1168","type":"link in","z":"d47f9ae6.2bf798","name":"radar-auto","links":["75617e3a.4a90e"],"x":935,"y":640,"wires":[["49a49a39.bf6634"]]},{"id":"c336970f.f4ff38","type":"link in","z":"d47f9ae6.2bf798","name":"InitinFalse","links":["d5e26c7.21ff49","968477ed.ba8638"],"x":775,"y":680,"wires":[["185b2cfc.4a9013","49a49a39.bf6634","acb53a7a.ce66a8"]]},{"id":"acb53a7a.ce66a8","type":"ui_switch","z":"d47f9ae6.2bf798","d":true,"name":"RadarBotones","label":"Radar","tooltip":"","group":"aaad0e65.b3469","order":13,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":780,"y":720,"wires":[["1654c7f1.91bc38"]]},{"id":"ec064d07.1fa8e","type":"comment","z":"d47f9ae6.2bf798","name":"Switches Radar (Explicación)","info":"El switch autónomo enciende el modo autónomo y el radar pero sólo apaga el modo, el switch de radar sólo controla el radar.","x":780,"y":560,"wires":[]},{"id":"d17d0323.cb2b7","type":"inject","z":"2acc8810.81c7a8","name":"centro","topic":"","payload":"centro","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"10","x":170,"y":360,"wires":[["27c7d836.514958"]]},{"id":"27c7d836.514958","type":"link out","z":"2acc8810.81c7a8","name":"volanteSlider_Begin","links":["8eaeaaff.f662a8"],"x":315,"y":360,"wires":[]},{"id":"4e6d5772.618108","type":"link out","z":"6e643c60.b53764","name":"distRegistrada_Begin","links":["a65ae476.129c68","d5dba0cf.0c3bd"],"x":615,"y":240,"wires":[]},{"id":"484c4e44.859f3","type":"link out","z":"6e643c60.b53764","name":"radarDash_Begin","links":[],"x":735,"y":240,"wires":[]},{"id":"9cf91d36.1314e","type":"link out","z":"6e643c60.b53764","name":"ServoPosSlider_Begin","links":["99405ba8.c2ecd8","e08490f9.fda74"],"x":755,"y":340,"wires":[]},{"id":"9badaa9e.957978","type":"ui_chart","z":"d47f9ae6.2bf798","d":true,"name":"","group":"6f7c3b98.411e14","order":4,"width":0,"height":0,"label":"Radar","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"150","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":300,"wires":[[]]},{"id":"13749c29.2cdb74","type":"ui_gauge","z":"d47f9ae6.2bf798","d":true,"name":"","group":"6f7c3b98.411e14","order":1,"width":0,"height":0,"gtype":"gage","title":"Distancia para colisión","label":"cm","format":"{{value}}","min":0,"max":"100","colors":["#b50000","#e6e600","#39ca38"],"seg1":"","seg2":"","x":980,"y":260,"wires":[]},{"id":"2abf2d45.a20002","type":"delay","z":"d47f9ae6.2bf798","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":790,"y":260,"wires":[["13749c29.2cdb74"]]},{"id":"9815df44.24cfa","type":"delay","z":"d47f9ae6.2bf798","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":810,"y":300,"wires":[["9badaa9e.957978"]]},{"id":"d5dba0cf.0c3bd","type":"link in","z":"d47f9ae6.2bf798","name":"distRegistrada_End","links":["4e6d5772.618108"],"x":675,"y":260,"wires":[["2abf2d45.a20002"]]},{"id":"b37143fd.cac4","type":"link in","z":"d47f9ae6.2bf798","name":"radarDash_End","links":[],"x":675,"y":300,"wires":[["9815df44.24cfa"]]},{"id":"b53ffba7.7517d8","type":"comment","z":"d47f9ae6.2bf798","name":"Gráficas Radar","info":"","x":740,"y":200,"wires":[]},{"id":"bb65e17a.9b4e7","type":"link out","z":"6e643c60.b53764","name":"ServoPos_Begin","links":["d4e9751.f286c88","99405ba8.c2ecd8","d56eef5c.b6b94","e08490f9.fda74"],"x":755,"y":400,"wires":[]},{"id":"c04d279c.6e2758","type":"pi-gpiod out","z":"f24f522c.5061","name":"Servo Sensor","host":"localhost","port":8888,"pin":"10","set":"","level":"0","out":"ser","sermin":"500","sermax":"2500","x":680,"y":300,"wires":[]},{"id":"d56eef5c.b6b94","type":"link in","z":"f24f522c.5061","name":"ServoPos_End","links":["aadfe424.9c7bb8","bb65e17a.9b4e7"],"x":155,"y":300,"wires":[["c04d279c.6e2758"]]},{"id":"7ff268d6.2362f8","type":"comment","z":"f24f522c.5061","name":"Servo Volante","info":"","x":210,"y":80,"wires":[]},{"id":"b5a1744.8231188","type":"comment","z":"f24f522c.5061","name":"Servo Radar","info":"","x":210,"y":260,"wires":[]},{"id":"6eecd835.1a4f08","type":"comment","z":"f24f522c.5061","name":"PWM Motores","info":"","x":210,"y":360,"wires":[]},{"id":"f287132e.71562","type":"ui_slider","z":"d47f9ae6.2bf798","d":true,"name":"Sensor Slider","label":"Sensor","tooltip":"","group":"6f7c3b98.411e14","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"75","max":"20","step":"0.5","x":1000,"y":220,"wires":[[]]},{"id":"e08490f9.fda74","type":"link in","z":"d47f9ae6.2bf798","name":"ServoPosSlider_End","links":["9cf91d36.1314e","bb65e17a.9b4e7"],"x":875,"y":220,"wires":[["f287132e.71562"]]},{"id":"187c9815.e5a958","type":"inject","z":"2acc8810.81c7a8","name":"","topic":"","payload":"Activar GPIOD","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":640,"wires":[["5ae14544.d7825c"]]},{"id":"5ae14544.d7825c","type":"exec","z":"2acc8810.81c7a8","command":"sudo pigpiod","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":370,"y":640,"wires":[[],[],[]]},{"id":"9711f5ab.810148","type":"ui_toast","z":"d47f9ae6.2bf798","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":870,"y":120,"wires":[["b30fea42.8f09c8"]]},{"id":"e6f3dc56.1f20e","type":"function","z":"c7c81a64.db1438","name":"Formato wpa_supplicant","func":"var ssid = global.get('ssid');\nvar psk = global.get('psk');\n\n\nvar formato = 'ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev' \nformato += ' \\n ';\nformato += 'update_config=1'\nformato += ' \\n ';\nformato += 'country=MX'\nformato += ' \\n ';\n\nformato += 'network={'\nformato += ' \\n ';\nformato += 'ssid='\nformato += ssid;\nformato += ' \\n ';\nformato += 'psk=';\nformato += psk\nformato += ' \\n ';\nformato += 'key_mgmt=WPA-PSK'\nformato += ' \\n ';\nformato += \"}\";\n\nmsg = {payload:formato};\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":120,"wires":[["7892a413.68d79c"]]},{"id":"7892a413.68d79c","type":"file","z":"c7c81a64.db1438","name":"","filename":"/etc/wpa_supplicant/wpa_supplicant.conf","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1040,"y":120,"wires":[[]]},{"id":"808b463e.545758","type":"switch","z":"bee2253d.9a6b68","name":"GoogleNotifyDestination","property":"destination","propertyType":"msg","rules":[{"t":"eq","v":"living","vt":"str"},{"t":"eq","v":"bureau","vt":"str"},{"t":"eq","v":"all","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":260,"wires":[["d9403242.da185"],["33a268d5.9ebe88"],["d9403242.da185","33a268d5.9ebe88"]],"outputLabels":["Google Home","Google Home mini",""]},{"id":"d9403242.da185","type":"googlehome-notifier-offline","z":"bee2253d.9a6b68","server":"2d81279b.148db8","name":"Google Home","x":800,"y":180,"wires":[]},{"id":"33a268d5.9ebe88","type":"googlehome-notifier-offline","z":"bee2253d.9a6b68","server":"8d9ee5fd.2d7d48","name":"Google Home Mini","x":790,"y":320,"wires":[]},{"id":"fd3b842f.b61bf8","type":"change","z":"bee2253d.9a6b68","name":"","rules":[{"t":"set","p":"cacheFolder","pt":"msg","to":"d:\\tmp\\GHCache","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":260,"wires":[["808b463e.545758"]]},{"id":"8b67828c.70aa8","type":"inject","z":"2ce33584.a2bf7a","name":"","topic":"","payload":"ola! soey Vahpri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["f834451c.d8bd18"]]},{"id":"f834451c.d8bd18","type":"change","z":"2ce33584.a2bf7a","name":"","rules":[{"t":"set","p":"emitVolume","pt":"msg","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":100,"wires":[["e2888723.d469b8"]]},{"id":"e2888723.d469b8","type":"googlehome-notifier-offline","z":"2ce33584.a2bf7a","server":"5ebdb320.8a967c","name":"","x":680,"y":100,"wires":[]},{"id":"3bbfc842.ca4e68","type":"comment","z":"2ce33584.a2bf7a","name":"Manda cadena de texto a Google Home","info":"","x":210,"y":60,"wires":[]},{"id":"22c859f8.dc2ba6","type":"comment","z":"2ce33584.a2bf7a","name":"Configurar volumen","info":"","x":430,"y":140,"wires":[]},{"id":"598d6a82.9c6194","type":"ui_text_input","z":"2ce33584.a2bf7a","name":"","label":"","tooltip":"Dime qué decir","group":"aaad0e65.b3469","order":14,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":120,"y":160,"wires":[["f834451c.d8bd18"]]},{"id":"2de91eae.2a37b2","type":"link out","z":"8a7ddc8.106792","name":"ToTelegram","links":["59afa785.3eff28"],"x":1055,"y":220,"wires":[]},{"id":"de3a8f54.df47f","type":"function","z":"8a7ddc8.106792","name":"Formato ui","func":"var text = msg.payload;\nmsg.payload='Tu nuevo acceso remoto ngrok es: '+ text + '/ui';\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":200,"wires":[["2de91eae.2a37b2"]]},{"id":"71c8e104.c4496","type":"switch","z":"8a7ddc8.106792","name":"filtro \"null\"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":160,"wires":[["7bdeabc5.972f04"],["b6afe9b7.df53a8"]]},{"id":"e89f808e.f2d2f","type":"function","z":"8a7ddc8.106792","name":"Formato editor","func":"var text = msg.payload;\nmsg.payload='Tu nuevo acceso remoto ngrok es: '+ text + '';\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":160,"wires":[["2de91eae.2a37b2"]]},{"id":"7bdeabc5.972f04","type":"switch","z":"8a7ddc8.106792","name":"topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"editor","vt":"str"},{"t":"eq","v":"ui","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":160,"wires":[["e89f808e.f2d2f"],["de3a8f54.df47f"]]},{"id":"16ba750c.df757b","type":"link in","z":"8a7ddc8.106792","name":"toNgrok","links":["7909f21a.35dbbc"],"x":115,"y":220,"wires":[["837e6d6e.51ed8"]]},{"id":"b6afe9b7.df53a8","type":"change","z":"8a7ddc8.106792","name":"Off noti","rules":[{"t":"set","p":"payload","pt":"msg","to":"Acceso ngrok apagado.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":240,"wires":[["2de91eae.2a37b2"]]},{"id":"b218157.5d7a0e8","type":"ngrok","z":"8a7ddc8.106792","port":"1880","creds":"2655950d.6db8ea","region":"us","subdomain":"","name":"ngrok:1880","auth":"","x":370,"y":180,"wires":[["71c8e104.c4496"]]},{"id":"3eb54307.3834fc","type":"ngrok","z":"8a7ddc8.106792","port":"5000","creds":"2655950d.6db8ea","region":"us","subdomain":"","name":"ngrok:5000","auth":"","x":370,"y":260,"wires":[["89d51668.b2f868"]]},{"id":"837e6d6e.51ed8","type":"switch","z":"8a7ddc8.106792","name":"topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ui","vt":"str"},{"t":"eq","v":"editor","vt":"str"},{"t":"eq","v":"octoprint","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":210,"y":220,"wires":[["b218157.5d7a0e8"],["b218157.5d7a0e8"],["3eb54307.3834fc"]]},{"id":"89d51668.b2f868","type":"switch","z":"8a7ddc8.106792","name":"filtro \"null\"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":280,"wires":[["b6afe9b7.df53a8"],["8e3b5309.921fa"]]},{"id":"8e3b5309.921fa","type":"function","z":"8a7ddc8.106792","name":"Formato Octoprint","func":"var text = msg.payload;\nmsg.payload='Tu nuevo acceso remoto ngrok es: '+ text + '';\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":280,"wires":[["2de91eae.2a37b2"]]},{"id":"57a4a06.229f16","type":"comment","z":"8a7ddc8.106792","name":"Añade el \"/xxx\" si aplica","info":"","x":880,"y":120,"wires":[]},{"id":"27321f59.bf55c","type":"debug","z":"28e94e1a.327fa2","name":"Telegram","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1280,"y":200,"wires":[]},{"id":"491194d7.6a8fac","type":"function","z":"28e94e1a.327fa2","name":"Formato para Telegram","func":"var text = msg.payload;\nmsg.payload='{\\n\"text\": \"'+ text + '\"\\n}'\n//',\\n\"parse_mode\": \"Markdown\"\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":220,"wires":[["18c8fef7.d3ed61","27321f59.bf55c"]]},{"id":"59afa785.3eff28","type":"link in","z":"28e94e1a.327fa2","name":"toTelegram","links":["2ee2f44.af4b60c","d6c75b00.d39148","592da6a.2e70a58","9d675fa0.f90c","ec254b84.b17bc8","a3fe156e.ad71d8","73af0803.c282c8","2c8ae8da.bf31f8","dc5307d8.6fd2e8","4905f533.8fc32c","2de91eae.2a37b2"],"x":915,"y":220,"wires":[["491194d7.6a8fac"]]},{"id":"82662c3a.46f7e","type":"change","z":"28e94e1a.327fa2","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":180,"wires":[["7909f21a.35dbbc"]]},{"id":"307bc5d8.33cb8a","type":"change","z":"28e94e1a.327fa2","name":"ui","rules":[{"t":"set","p":"topic","pt":"msg","to":"ui","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[["82662c3a.46f7e"]]},{"id":"45a57ff0.2bf88","type":"change","z":"28e94e1a.327fa2","name":"editor","rules":[{"t":"set","p":"topic","pt":"msg","to":"editor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["82662c3a.46f7e"]]},{"id":"7909f21a.35dbbc","type":"link out","z":"28e94e1a.327fa2","name":"ToNgrok","links":["7c697255.b465fc","1e91adea.262222","16ba750c.df757b"],"x":775,"y":220,"wires":[]},{"id":"f6833f94.68d51","type":"change","z":"28e94e1a.327fa2","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[["7909f21a.35dbbc"]]},{"id":"9440ae38.0007d","type":"change","z":"28e94e1a.327fa2","name":"editor","rules":[{"t":"set","p":"topic","pt":"msg","to":"editor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["f6833f94.68d51"]]},{"id":"2753848b.f8f54c","type":"change","z":"28e94e1a.327fa2","name":"octoprint","rules":[{"t":"set","p":"topic","pt":"msg","to":"octoprint","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":220,"wires":[["82662c3a.46f7e"]]},{"id":"e9b78cb5.60478","type":"telegrambot-command","z":"28e94e1a.327fa2","name":"/ngrok","bot":"7ab72cee.d66ef4","command":"/ngrok","commandType":"str","commandCase":false,"x":170,"y":200,"wires":[["8a09188a.50e6d8"]]},{"id":"8a09188a.50e6d8","type":"telegrambot-switch","z":"28e94e1a.327fa2","name":"","bot":"7ab72cee.d66ef4","chatId":"","question":"ui or editor?","answers":["ui","editor","octoprint","off"],"outputs":5,"autoAnswerCallback":true,"timeoutValue":"1","timeoutUnits":"min","x":320,"y":200,"wires":[["307bc5d8.33cb8a"],["45a57ff0.2bf88"],["2753848b.f8f54c"],["9440ae38.0007d"],["af18da7c.03d1e8"]]},{"id":"18c8fef7.d3ed61","type":"telegrambot-payload","z":"28e94e1a.327fa2","name":"Send","bot":"7ab72cee.d66ef4","chatId":"","sendMethod":"sendMessage","payload":"","x":1290,"y":320,"wires":[[]]},{"id":"af18da7c.03d1e8","type":"change","z":"28e94e1a.327fa2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"No recibí respuesta","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":320,"wires":[["18c8fef7.d3ed61"]]},{"id":"492619fe.a3a748","type":"ui_numeric","z":"d47f9ae6.2bf798","name":"","label":"Centro","tooltip":"","group":"e8574371.228a7","order":3,"width":0,"height":0,"wrap":true,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":230,"y":400,"wires":[["bd2e02b6.64367","c353276c.46da88"]]},{"id":"bd2e02b6.64367","type":"change","z":"d47f9ae6.2bf798","name":"","rules":[{"t":"set","p":"centro","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[[]]},{"id":"3ef0ed96.b228f2","type":"ui_numeric","z":"d47f9ae6.2bf798","name":"","label":"Límite Derecho","tooltip":"","group":"e8574371.228a7","order":4,"width":0,"height":0,"wrap":true,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":260,"y":460,"wires":[["f8cb6bfc.b72548","c353276c.46da88"]]},{"id":"386c7d78.2d3ae2","type":"ui_numeric","z":"d47f9ae6.2bf798","name":"","label":"Límite Izquierdo","tooltip":"","group":"e8574371.228a7","order":5,"width":0,"height":0,"wrap":true,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":240,"y":520,"wires":[["312809e3.edd5f6","c353276c.46da88"]]},{"id":"f8cb6bfc.b72548","type":"change","z":"d47f9ae6.2bf798","name":"","rules":[{"t":"set","p":"limiteDer","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":460,"wires":[["118659bc.356906"]]},{"id":"312809e3.edd5f6","type":"change","z":"d47f9ae6.2bf798","name":"","rules":[{"t":"set","p":"limiteIzq","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":520,"wires":[["e8a14d0f.ab97b"]]},{"id":"c47b381b.6c02b8","type":"link in","z":"d47f9ae6.2bf798","name":"ui-lim-der","links":["6037da28.f3b2b4"],"x":135,"y":460,"wires":[["3ef0ed96.b228f2"]]},{"id":"281fb5bb.71ddfa","type":"link in","z":"d47f9ae6.2bf798","name":"ui-lim-izq","links":["7a9e5cc0.80d0b4"],"x":115,"y":520,"wires":[["386c7d78.2d3ae2"]]},{"id":"50f2ab79.dbaf14","type":"debug","z":"f24f522c.5061","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":80,"wires":[]},{"id":"a19ef1b3.46073","type":"link in","z":"d47f9ae6.2bf798","name":"volanteSlider_End","links":["1d751d20.328d13"],"x":135,"y":340,"wires":[["c353276c.46da88"]]},{"id":"8eaeaaff.f662a8","type":"link in","z":"d47f9ae6.2bf798","name":"ui-centro","links":["27c7d836.514958","119e414.cafd7bf"],"x":115,"y":400,"wires":[["492619fe.a3a748"]]},{"id":"fab0bfab.0735f","type":"inject","z":"2acc8810.81c7a8","name":"","topic":"","payload":"limiteDer","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"10","x":200,"y":420,"wires":[["6037da28.f3b2b4"]]},{"id":"6037da28.f3b2b4","type":"link out","z":"2acc8810.81c7a8","name":"init-limiteDer","links":["c47b381b.6c02b8"],"x":335,"y":420,"wires":[]},{"id":"455423c0.60c29c","type":"inject","z":"2acc8810.81c7a8","name":"","topic":"","payload":"limiteIzq","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"10","x":200,"y":480,"wires":[["7a9e5cc0.80d0b4"]]},{"id":"7a9e5cc0.80d0b4","type":"link out","z":"2acc8810.81c7a8","name":"init-limiteIzq","links":["281fb5bb.71ddfa"],"x":335,"y":480,"wires":[]},{"id":"87632971.cb2fe8","type":"change","z":"8a0a444f.751b78","name":"Color Rojo","rules":[{"t":"set","p":"payload","pt":"msg","to":"background-color:#c0392b","tot":"str"},{"t":"set","p":"colorCentro","pt":"global","to":"background-color:#c0392b","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":440,"wires":[["772c1942.d2d258"]]},{"id":"dd9e9440.e9a008","type":"change","z":"8a0a444f.751b78","name":"Color Azul","rules":[{"t":"set","p":"payload","pt":"msg","to":"background-color:#009999","tot":"str"},{"t":"set","p":"colorCentro","pt":"global","to":"background-color:#009999","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":520,"wires":[["772c1942.d2d258"]]},{"id":"487f8a25.bbb524","type":"inject","z":"8a0a444f.751b78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":370,"y":560,"wires":[["dd9e9440.e9a008"]]},{"id":"aa80d906.3655e8","type":"ui_template","z":"8a0a444f.751b78","group":"aaad0e65.b3469","name":"Formato Botones","order":1,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    \n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":270,"y":80,"wires":[[]]},{"id":"8c6ef427.47cad8","type":"debug","z":"8a0a444f.751b78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":40,"wires":[]},{"id":"7ea60ab1.11c374","type":"inject","z":"8a0a444f.751b78","name":"","topic":"","payload":"colorCentro","payloadType":"global","repeat":"1","crontab":"","once":true,"onceDelay":"0","x":130,"y":560,"wires":[["772c1942.d2d258"]]},{"id":"b2c87781.44daa8","type":"change","z":"8a0a444f.751b78","name":"LeftMedio","rules":[{"t":"set","p":"payload","pt":"msg","to":"medioLimiteIzq","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":160,"wires":[["cccc7c21.b418b"]]},{"id":"7eed3f80.e2183","type":"change","z":"8a0a444f.751b78","name":"RightMedio","rules":[{"t":"set","p":"payload","pt":"msg","to":"medioLimiteDer","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":200,"wires":[["cccc7c21.b418b"]]},{"id":"118659bc.356906","type":"function","z":"d47f9ae6.2bf798","name":"","func":"var limiteDer = msg.payload\nvar centro = global.get('centro')\n\nglobal.set('medioLimiteDer', centro - ((centro - limiteDer)/2))\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":460,"wires":[[]]},{"id":"e8a14d0f.ab97b","type":"function","z":"d47f9ae6.2bf798","name":"","func":"var limiteIzq = msg.payload\nvar centro = global.get('centro')\n\nglobal.set('medioLimiteIzq', ((limiteIzq - centro)/2)+centro)\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":520,"wires":[[]]},{"id":"176b6ddd.80a012","type":"telegrambot-command","z":"28e94e1a.327fa2","name":"hola","bot":"7ab72cee.d66ef4","command":"hola","commandType":"str","commandCase":false,"x":300,"y":700,"wires":[["306b5908.c39da6","8d82e58c.48a048"]]},{"id":"66876733.33e898","type":"debug","z":"28e94e1a.327fa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":1120,"wires":[]},{"id":"d516634a.1f8c3","type":"telegrambot-notify","z":"28e94e1a.327fa2","name":"","bot":"7ab72cee.d66ef4","chatId":"","message":"","parseMode":"","x":1020,"y":840,"wires":[]},{"id":"306b5908.c39da6","type":"change","z":"28e94e1a.327fa2","name":"","rules":[{"t":"set","p":"fromTelegram","pt":"global","to":"telegram.from.first_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":840,"wires":[["7802893b.8780f8"]]},{"id":"7802893b.8780f8","type":"function","z":"28e94e1a.327fa2","name":"","func":"var nombre = global.get('fromTelegram')\n\nmsg.payload = \"Hola \" + nombre\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":840,"wires":[["d516634a.1f8c3"]]},{"id":"8d82e58c.48a048","type":"telegrambot-switch","z":"28e94e1a.327fa2","name":"","bot":"7ab72cee.d66ef4","chatId":"","question":"Que quieres?","answers":["Saludar","Foto"],"outputs":3,"autoAnswerCallback":true,"timeoutValue":"1","timeoutUnits":"min","x":440,"y":1040,"wires":[["e1690e29.f0c7e"],["9f6a9805.24c288"],[]]},{"id":"e1690e29.f0c7e","type":"change","z":"28e94e1a.327fa2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ya te estoy saludando","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":960,"wires":[["d516634a.1f8c3"]]},{"id":"7c61ce21.97c5c","type":"telegrambot-payload","z":"28e94e1a.327fa2","name":"","bot":"7ab72cee.d66ef4","chatId":"","sendMethod":"","payload":"","x":910,"y":1020,"wires":[["d516634a.1f8c3","66876733.33e898"]]},{"id":"9f6a9805.24c288","type":"change","z":"28e94e1a.327fa2","name":"preparar metodo","rules":[{"t":"set","p":"method","pt":"msg","to":"sendPhoto","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"photo\": \"/dev/shm/mjpeg/cam.jpg\"}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1080,"wires":[["7c61ce21.97c5c"]]},{"id":"ff5ad038.a494a","type":"telegrambot-payload","z":"28e94e1a.327fa2","name":"","bot":"7ab72cee.d66ef4","chatId":"","sendMethod":"sendPhoto","payload":"{\n    \"photo\": \"cam.jpg\",\n    \"text\": \"Hello, *world*!\",\n    \"parse_mode\": \"Markdown\"\n}","x":710,"y":1200,"wires":[["cd94c972.8f38f8","992c6a0.c33f998"]]},{"id":"8be045d8.149b48","type":"telegrambot-command","z":"28e94e1a.327fa2","name":"foto","bot":"7ab72cee.d66ef4","command":"foto","commandType":"str","commandCase":false,"x":270,"y":1200,"wires":[["ff5ad038.a494a","992c6a0.c33f998"]]},{"id":"cd94c972.8f38f8","type":"telegrambot-notify","z":"28e94e1a.327fa2","name":"","bot":"7ab72cee.d66ef4","chatId":"","message":"","parseMode":"","x":940,"y":1200,"wires":[]},{"id":"992c6a0.c33f998","type":"debug","z":"28e94e1a.327fa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":1320,"wires":[]},{"id":"2b2981df.34aede","type":"file","z":"df558687.1df838","name":"","filename":"/home/pi/cam.jpg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":490,"y":320,"wires":[[]]},{"id":"6aa42690.d43cd8","type":"delay","z":"df558687.1df838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":460,"y":260,"wires":[["2b2981df.34aede"]]}]