.flows.json.backup
[{"id":"9ef02980.b2d7a8","type":"tab","label":"Controles","disabled":false,"info":""},{"id":"6c787050.28e32","type":"tab","label":"Configuraciones","disabled":false,"info":""},{"id":"9e565e84.45646","type":"subflow","name":"Motor Controller","info":"Expects different messages\nAn \"On\" message and a \"Direction\" message","in":[{"x":160,"y":200,"wires":[{"id":"1c0cd8d5.8ccc17"}]}],"out":[{"x":820,"y":160,"wires":[{"id":"479098f9.2b4d78","port":0},{"id":"27a532fb.5c0e8e","port":0}]},{"x":823,"y":233,"wires":[{"id":"479098f9.2b4d78","port":1},{"id":"27a532fb.5c0e8e","port":0}]}]},{"id":"4594135a.ba6d1c","type":"ui_tab","z":"","name":"Motores","icon":"dashboard","disabled":false,"hidden":false},{"id":"5fc7646b.c2b3dc","type":"ui_group","z":"","name":"Motor Derecho","tab":"4594135a.ba6d1c","disp":true,"width":"6","collapse":false},{"id":"297d98cf.7fbae8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#cc0000","baseFont":"Courier,monospace","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#cc0000","edited":true},"page-titlebar-backgroundColor":{"value":"#cc0000","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ff1a1a","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#cc0000","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Courier,monospace"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"97fc8fdd.1b98f","type":"ui_group","z":"","name":"Ambos Motores","tab":"4594135a.ba6d1c","disp":true,"width":"6","collapse":false},{"id":"db519559.6bab38","type":"ui_group","z":"","name":"Motor Izquierdo","tab":"4594135a.ba6d1c","disp":true,"width":"6","collapse":false},{"id":"2abc1396.0432cc","type":"inject","z":"6c787050.28e32","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":120,"wires":[["2b44687c.7cc448"]]},{"id":"2b44687c.7cc448","type":"exec","z":"6c787050.28e32","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Apagar","x":520,"y":120,"wires":[[],[],[]]},{"id":"97b828a3.31f658","type":"rpi-gpio out","z":"9ef02980.b2d7a8","name":"Right Motor Pin 11","pin":"11","set":false,"level":"0","freq":"","out":"pwm","x":1190,"y":340,"wires":[]},{"id":"21893b38.2e0e54","type":"rpi-gpio out","z":"9ef02980.b2d7a8","name":"Right Motor Pin 12","pin":"12","set":false,"level":"0","freq":"","out":"pwm","x":1189.999976158142,"y":384.99998474121094,"wires":[]},{"id":"e7d1e085.899c6","type":"subflow:9e565e84.45646","z":"9ef02980.b2d7a8","name":"Motor Derecho","env":[],"x":959.9999761581421,"y":364.99998474121094,"wires":[["97b828a3.31f658"],["21893b38.2e0e54"]]},{"id":"1c0cd8d5.8ccc17","type":"switch","z":"9e565e84.45646","name":"Split Messages","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Speed","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Direction","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":360,"y":200,"wires":[["a6c33d8e.468bc"],["27a532fb.5c0e8e"],["3c6447bb.32c048"]]},{"id":"27a532fb.5c0e8e","type":"switch","z":"9e565e84.45646","name":"OnOff","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":160,"wires":[[],["479098f9.2b4d78"]]},{"id":"479098f9.2b4d78","type":"function","z":"9e565e84.45646","name":"Go!","func":"var direction = flow.get(\"directionA\")||1;\nvar speed = flow.get(\"speedA\")||50;\nvar msg1 = {payload:\" \"};\nvar msg2 = {payload:\" \"};\n\nif (direction=='1') {\n    msg1.payload=speed;\n    msg2.payload='0';\n}\nelse if (direction=='0'){\n    msg1.payload='0';\n    msg2.payload=speed;\n}\n\nreturn [[msg1], [msg2]];\n","outputs":2,"noerr":0,"x":670,"y":200,"wires":[[],[]],"icon":"font-awesome/fa-play-circle"},{"id":"a6c33d8e.468bc","type":"function","z":"9e565e84.45646","name":"Set Speed","func":"var speed = msg.payload;\nflow.set(\"speedA\",speed);\nmsg.payload = speed;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["479098f9.2b4d78"]]},{"id":"3c6447bb.32c048","type":"function","z":"9e565e84.45646","name":"Set Direction","func":"var direction = msg.payload;\nflow.set(\"directionA\",direction);\nmsg.payload = direction;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["479098f9.2b4d78"]]},{"id":"f81ed04b.72622","type":"rpi-gpio out","z":"9ef02980.b2d7a8","name":"Right Motor Pin 16","pin":"16","set":false,"level":"0","freq":"","out":"pwm","x":1190,"y":460,"wires":[]},{"id":"66e2039b.aed92c","type":"rpi-gpio out","z":"9ef02980.b2d7a8","name":"Right Motor Pin 15","pin":"15","set":false,"level":"0","freq":"","out":"pwm","x":1189.999976158142,"y":504.99998474121094,"wires":[]},{"id":"f1af46dd.824568","type":"subflow:9e565e84.45646","z":"9ef02980.b2d7a8","name":"Motor Izquierdo","env":[],"x":959.9999761581421,"y":484.99998474121094,"wires":[["f81ed04b.72622"],["66e2039b.aed92c"]]},{"id":"9a9d9def.c881","type":"inject","z":"9ef02980.b2d7a8","name":"Stop","topic":"On","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":930,"y":220,"wires":[["f1af46dd.824568","e7d1e085.899c6"]]},{"id":"ede4553e.49c7c8","type":"inject","z":"9ef02980.b2d7a8","name":"Go","topic":"On","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":930,"y":180,"wires":[["e7d1e085.899c6","f1af46dd.824568"]]},{"id":"777aa04e.9a701","type":"ui_slider","z":"9ef02980.b2d7a8","name":"","label":"Speed","tooltip":"","group":"5fc7646b.c2b3dc","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Speed","min":"5","max":"100","step":"5","x":550,"y":200,"wires":[["81613848.ae71a8","e7d1e085.899c6"]]},{"id":"d7e86439.b5a908","type":"ui_switch","z":"9ef02980.b2d7a8","name":"","label":"Start/Stop","tooltip":"","group":"5fc7646b.c2b3dc","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"On","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":560,"y":140,"wires":[["778f9709.68d2d8","e7d1e085.899c6"]]},{"id":"729ee7a4.a64868","type":"ui_switch","z":"9ef02980.b2d7a8","name":"","label":"Dirección","tooltip":"","group":"5fc7646b.c2b3dc","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Direction","style":"","onvalue":"0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","x":560,"y":240,"wires":[["81613848.ae71a8","e7d1e085.899c6"]]},{"id":"81613848.ae71a8","type":"change","z":"9ef02980.b2d7a8","name":"Update Switch ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":300,"wires":[["d7e86439.b5a908"]]},{"id":"778f9709.68d2d8","type":"change","z":"9ef02980.b2d7a8","name":"Update Switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":80,"wires":[["d7e86439.b5a908"]]},{"id":"6872cbc2.5be684","type":"ui_slider","z":"9ef02980.b2d7a8","name":"","label":"Speed","tooltip":"","group":"db519559.6bab38","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Speed","min":"5","max":"100","step":"5","x":550,"y":620,"wires":[["3466e0de.6f191","f1af46dd.824568"]]},{"id":"8248fe2a.c84ba","type":"ui_switch","z":"9ef02980.b2d7a8","name":"","label":"Start/Stop","tooltip":"","group":"db519559.6bab38","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"On","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":560,"y":560,"wires":[["c3bcbc2.3966a4","f1af46dd.824568"]]},{"id":"d8ff8c65.b299d","type":"ui_switch","z":"9ef02980.b2d7a8","name":"","label":"Dirección","tooltip":"","group":"db519559.6bab38","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Direction","style":"","onvalue":"0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","x":560,"y":660,"wires":[["3466e0de.6f191","f1af46dd.824568"]]},{"id":"3466e0de.6f191","type":"change","z":"9ef02980.b2d7a8","name":"Update Switch ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":720,"wires":[["8248fe2a.c84ba"]]},{"id":"c3bcbc2.3966a4","type":"change","z":"9ef02980.b2d7a8","name":"Update Switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["8248fe2a.c84ba"]]},{"id":"1e7833e7.1a22cc","type":"ui_switch","z":"9ef02980.b2d7a8","name":"","label":"Start/Stop","tooltip":"","group":"97fc8fdd.1b98f","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"On","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":160,"y":420,"wires":[["e7d1e085.899c6","f1af46dd.824568","812b59b8.fc6338"]]},{"id":"812b59b8.fc6338","type":"change","z":"9ef02980.b2d7a8","name":"Update Switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":360,"wires":[["1e7833e7.1a22cc"]]}]