flows.json
[{"id":"9ef02980.b2d7a8","type":"tab","label":"Controles","disabled":false,"info":""},{"id":"747e2b8a.52d8a4","type":"tab","label":"Salidas GPIO","disabled":false,"info":""},{"id":"ea2bdf85.90ed4","type":"tab","label":"Cámara","disabled":false,"info":""},{"id":"242486b5.520f5a","type":"tab","label":"Botones bonitos","disabled":false,"info":""},{"id":"6c787050.28e32","type":"tab","label":"Apagar","disabled":false,"info":""},{"id":"9e565e84.45646","type":"subflow","name":"Motor Controller","info":"Expects different messages\nAn \"On\" message and a \"Direction\" message","in":[{"x":160,"y":180,"wires":[{"id":"1c0cd8d5.8ccc17"}]}],"out":[{"x":860,"y":140,"wires":[{"id":"479098f9.2b4d78","port":0},{"id":"27a532fb.5c0e8e","port":0}]},{"x":863,"y":213,"wires":[{"id":"479098f9.2b4d78","port":1},{"id":"27a532fb.5c0e8e","port":0}]}]},{"id":"297d98cf.7fbae8","type":"ui_base","z":0,"theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#cc0000","baseFont":"Courier,monospace","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#cc0000","edited":true},"page-titlebar-backgroundColor":{"value":"#cc0000","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ff1a1a","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#cc0000","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Courier,monospace"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5fc7646b.c2b3dc","type":"ui_group","z":0,"name":"Motor Derecho","tab":"4594135a.ba6d1c","disp":true,"width":"6","collapse":false},{"id":"97fc8fdd.1b98f","type":"ui_group","z":0,"name":"Todo","tab":"4594135a.ba6d1c","disp":true,"width":"6","collapse":false},{"id":"db519559.6bab38","type":"ui_group","z":0,"name":"Motor Izquierdo","tab":"4594135a.ba6d1c","disp":true,"width":"6","collapse":false},{"id":"d07b0629.bfe388","type":"ui_group","z":0,"name":"Default","tab":"486f0d79.1980e4","disp":true,"width":"6"},{"id":"f3820f71.20a58","type":"ui_group","z":0,"name":"Imagen","tab":"c20185b7.8eb1c8","disp":true,"width":"6","collapse":false},{"id":"14536bd0.490ea4","type":"ui_group","z":0,"name":"Apagado","tab":"4594135a.ba6d1c","disp":true,"width":"2","collapse":true},{"id":"12ac6dc3.e58a92","type":"ui_group","z":0,"name":"1","tab":"267f63e0.3fbffc","disp":true,"width":"6","collapse":false},{"id":"5151e790.7a0aa8","type":"ui_group","z":0,"name":"2","tab":"267f63e0.3fbffc","disp":true,"width":"6","collapse":false},{"id":"87bdb2b6.3b1dd","type":"ui_group","z":0,"name":"cualquier cosa","tab":"6961b4a5.ca456c","disp":true,"width":"6","collapse":false},{"id":"4e88c210.bf9cac","type":"ui_group","z":0,"name":"D","tab":"6961b4a5.ca456c","disp":true,"width":"6","collapse":false},{"id":"cc65aad1.dacdc8","type":"ui_group","z":0,"name":"Default","tab":"ba589b38.ccd108","disp":true,"width":"6","collapse":false},{"id":"4594135a.ba6d1c","type":"ui_tab","z":0,"name":"Motores","icon":"dashboard","disabled":false,"hidden":false},{"id":"486f0d79.1980e4","type":"ui_tab","z":0,"name":"testing","icon":"dashboard"},{"id":"c20185b7.8eb1c8","type":"ui_tab","z":0,"name":"Transmisión","icon":"dashboard","disabled":false,"hidden":false},{"id":"267f63e0.3fbffc","type":"ui_tab","z":0,"name":"asdas","icon":"dashboard","disabled":false,"hidden":false},{"id":"dcf3ab13.b40978","type":"ui_tab","z":0,"name":"Home","icon":"dashboard"},{"id":"6961b4a5.ca456c","type":"ui_tab","z":0,"name":"NVR","icon":"dashboard","order":13},{"id":"ba589b38.ccd108","type":"ui_tab","z":0,"name":"Home","icon":"dashboard"},{"id":"2abc1396.0432cc","type":"inject","z":"6c787050.28e32","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":120,"wires":[["2b44687c.7cc448"]]},{"id":"2b44687c.7cc448","type":"exec","z":"6c787050.28e32","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Apagar","x":520,"y":120,"wires":[[],[],[]]},{"id":"1c0cd8d5.8ccc17","type":"switch","z":"9e565e84.45646","name":"Split Messages","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Speed","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Direction","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":340,"y":180,"wires":[["a6c33d8e.468bc"],["fd40dd93.d44d5"],["3c6447bb.32c048"]]},{"id":"27a532fb.5c0e8e","type":"switch","z":"9e565e84.45646","name":"OnOff","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":180,"wires":[[],["479098f9.2b4d78"]]},{"id":"479098f9.2b4d78","type":"function","z":"9e565e84.45646","name":"Go!","func":"var direction = flow.get(\"directionA\")||1;\nvar speed = flow.get(\"speedA\")||50;\nvar msg1 = {payload:\" \"};\nvar msg2 = {payload:\" \"};\n\nif (direction=='1') {\n    msg1.payload=speed;\n    msg2.payload='0';\n}\nelse if (direction=='0'){\n    msg1.payload='0';\n    msg2.payload=speed;\n}\n\nreturn [[msg1], [msg2]];\n","outputs":2,"noerr":0,"x":770,"y":180,"wires":[[],[]],"icon":"font-awesome/fa-play-circle"},{"id":"a6c33d8e.468bc","type":"function","z":"9e565e84.45646","name":"Set Speed","func":"var speed = msg.payload;\nflow.set(\"speedA\",speed);\nmsg.payload = 0; //Detener motores\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["b049be0e.0c78f"]]},{"id":"3c6447bb.32c048","type":"function","z":"9e565e84.45646","name":"Set Direction","func":"var direction = msg.payload;\nflow.set(\"directionA\",direction);\nmsg.payload = 0; //Detener motores\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["8d65e643.195d38"]]},{"id":"778f9709.68d2d8","type":"change","z":"9ef02980.b2d7a8","name":"Update Switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":320,"wires":[["d7e86439.b5a908"]]},{"id":"c3bcbc2.3966a4","type":"change","z":"9ef02980.b2d7a8","name":"Update Switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":520,"wires":[["8248fe2a.c84ba"]]},{"id":"812b59b8.fc6338","type":"change","z":"9ef02980.b2d7a8","name":"Update Switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":160,"wires":[["1e7833e7.1a22cc"]]},{"id":"b5e9faa7.58b438","type":"rpi-gpio out","z":"747e2b8a.52d8a4","name":"Right Motor Pin 11","pin":"11","set":false,"level":"0","freq":"","out":"pwm","x":550,"y":280,"wires":[]},{"id":"5c85b6f7.9cdf88","type":"rpi-gpio out","z":"747e2b8a.52d8a4","name":"Right Motor Pin 12","pin":"12","set":false,"level":"0","freq":"","out":"pwm","x":550,"y":340,"wires":[]},{"id":"39b74fa2.7d375","type":"subflow:9e565e84.45646","z":"747e2b8a.52d8a4","name":"Motor Derecho","env":[],"x":360,"y":300,"wires":[["b5e9faa7.58b438"],["5c85b6f7.9cdf88"]]},{"id":"8ce4d7d4.1f5348","type":"rpi-gpio out","z":"747e2b8a.52d8a4","name":"Right Motor Pin 16","pin":"16","set":false,"level":"0","freq":"","out":"pwm","x":550,"y":400,"wires":[]},{"id":"d104d71.7a0ec28","type":"rpi-gpio out","z":"747e2b8a.52d8a4","name":"Right Motor Pin 15","pin":"15","set":false,"level":"0","freq":"","out":"pwm","x":550,"y":460,"wires":[]},{"id":"f66996ef.442fc8","type":"subflow:9e565e84.45646","z":"747e2b8a.52d8a4","name":"Motor Izquierdo","env":[],"x":360,"y":420,"wires":[["8ce4d7d4.1f5348"],["d104d71.7a0ec28"]]},{"id":"dad35043.7b196","type":"rpi-gpio out","z":"747e2b8a.52d8a4","name":"Asiento Izquierdo","pin":"19","set":false,"level":"0","freq":"","out":"pwm","x":550,"y":200,"wires":[]},{"id":"c962f1cb.e6df2","type":"trigger","z":"747e2b8a.52d8a4","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"100","extend":true,"units":"ms","reset":"","bytopic":"all","name":"Cortar Corriente","x":360,"y":200,"wires":[["dad35043.7b196"]]},{"id":"dbcb3991.1958a8","type":"rpi-gpio out","z":"747e2b8a.52d8a4","name":"Asiento Derecho","pin":"21","set":false,"level":"0","freq":"","out":"pwm","x":550,"y":140,"wires":[]},{"id":"42a498a0.d80e98","type":"trigger","z":"747e2b8a.52d8a4","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"100","extend":true,"units":"ms","reset":"","bytopic":"all","name":"Cortar Corriente","x":360,"y":140,"wires":[["dbcb3991.1958a8"]]},{"id":"1b511305.62ac0d","type":"rpi-gpio out","z":"747e2b8a.52d8a4","name":"Volante","pin":"23","set":false,"level":"0","freq":"","out":"pwm","x":580,"y":80,"wires":[]},{"id":"4cd6f42a.f9cfec","type":"trigger","z":"747e2b8a.52d8a4","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"100","extend":true,"units":"ms","reset":"","bytopic":"all","name":"Cortar Corriente","x":360,"y":80,"wires":[["1b511305.62ac0d"]]},{"id":"cda2410.6ed11c","type":"link in","z":"747e2b8a.52d8a4","name":"Volante","links":["f69d0c04.8bc08"],"x":195,"y":80,"wires":[["4cd6f42a.f9cfec"]]},{"id":"4fa2fa0a.445424","type":"link in","z":"747e2b8a.52d8a4","name":"ADerecho","links":["40ccd03c.738f9"],"x":195,"y":140,"wires":[["42a498a0.d80e98"]]},{"id":"3036481.f432eb8","type":"link in","z":"747e2b8a.52d8a4","name":"AIzquierdo","links":["b1efdc0f.cac63"],"x":195,"y":200,"wires":[["c962f1cb.e6df2"]]},{"id":"3f2ad83.d693028","type":"link in","z":"747e2b8a.52d8a4","name":"MotorDerecho","links":["37a99e61.0bdc22","3249bfdc.2b375","2c84f856.e37868"],"x":195,"y":300,"wires":[["39b74fa2.7d375"]]},{"id":"f2da30ae.b0f87","type":"link in","z":"747e2b8a.52d8a4","name":"MotorIzquierdo","links":["37a99e61.0bdc22","35c1e097.9c7cb","2c84f856.e37868"],"x":195,"y":420,"wires":[["f66996ef.442fc8"]]},{"id":"f69d0c04.8bc08","type":"link out","z":"9ef02980.b2d7a8","name":"","links":["cda2410.6ed11c"],"x":935,"y":160,"wires":[]},{"id":"40ccd03c.738f9","type":"link out","z":"9ef02980.b2d7a8","name":"","links":["4fa2fa0a.445424"],"x":935,"y":220,"wires":[]},{"id":"b1efdc0f.cac63","type":"link out","z":"9ef02980.b2d7a8","name":"","links":["3036481.f432eb8"],"x":935,"y":280,"wires":[]},{"id":"cbac9875.542d58","type":"comment","z":"9ef02980.b2d7a8","name":"Servos","info":"","x":650,"y":80,"wires":[]},{"id":"3f325753.cddb08","type":"comment","z":"9ef02980.b2d7a8","name":"Motorreductores","info":"","x":140,"y":80,"wires":[]},{"id":"3249bfdc.2b375","type":"link out","z":"9ef02980.b2d7a8","name":"toMD","links":["3f2ad83.d693028"],"x":475,"y":360,"wires":[]},{"id":"35c1e097.9c7cb","type":"link out","z":"9ef02980.b2d7a8","name":"toMI","links":["f2da30ae.b0f87"],"x":475,"y":560,"wires":[]},{"id":"37a99e61.0bdc22","type":"link out","z":"9ef02980.b2d7a8","name":"DosAsientos","links":["3f2ad83.d693028","f2da30ae.b0f87"],"x":475,"y":160,"wires":[]},{"id":"b049be0e.0c78f","type":"trigger","z":"9e565e84.45646","op1":"0","op2":"state","op1type":"str","op2type":"flow","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":730,"y":100,"wires":[["27a532fb.5c0e8e"]]},{"id":"8d65e643.195d38","type":"trigger","z":"9e565e84.45646","op1":"0","op2":"state","op1type":"str","op2type":"flow","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":730,"y":260,"wires":[["27a532fb.5c0e8e"]]},{"id":"fd40dd93.d44d5","type":"function","z":"9e565e84.45646","name":"Set State","func":"var state = msg.payload;\nflow.set(\"state\",state);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":180,"wires":[["27a532fb.5c0e8e"]]},{"id":"854278f0.f645c8","type":"link in","z":"9ef02980.b2d7a8","name":"toVolante","links":[],"x":675,"y":160,"wires":[["abac589f.bed068"]]},{"id":"118e4191.f1826e","type":"link in","z":"9ef02980.b2d7a8","name":"to Co-Pilot","links":[],"x":675,"y":220,"wires":[["806fd2dc.0257f"]]},{"id":"9163f0e.9370c1","type":"link in","z":"9ef02980.b2d7a8","name":"to Conductor","links":[],"x":675,"y":280,"wires":[["bd108e30.cac4"]]},{"id":"907d424a.de78","type":"inject","z":"ea2bdf85.90ed4","name":"","topic":"","payload":"","payloadType":"str","repeat":"0.1","crontab":"","once":true,"onceDelay":"5","x":170,"y":140,"wires":[[]]},{"id":"4d8a0921.0e8ef8","type":"file in","z":"ea2bdf85.90ed4","name":"","filename":"/dev/shm/mjpeg/cam.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":410,"y":140,"wires":[["368eba13.7df616"]]},{"id":"f1265587.c44178","type":"template","z":"ea2bdf85.90ed4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":730,"y":140,"wires":[["c284e80a.9643f8"]]},{"id":"7b03c332.00606c","type":"comment","z":"ea2bdf85.90ed4","name":"Es necesario activar esto: https://elinux.org/RPi-Cam-Web-Interface","info":"","x":740,"y":220,"wires":[]},{"id":"d146445e.34c708","type":"comment","z":"ea2bdf85.90ed4","name":"Regula el FPS pero causa delay","info":"","x":230,"y":220,"wires":[]},{"id":"777aa04e.9a701","type":"ui_slider","z":"9ef02980.b2d7a8","name":"","label":"Speed","tooltip":"","group":"5fc7646b.c2b3dc","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Speed","min":"5","max":"100","step":"5","x":330,"y":380,"wires":[["3249bfdc.2b375"]]},{"id":"6872cbc2.5be684","type":"ui_slider","z":"9ef02980.b2d7a8","name":"","label":"Speed","tooltip":"","group":"db519559.6bab38","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Speed","min":"5","max":"100","step":"5","x":330,"y":580,"wires":[["35c1e097.9c7cb"]]},{"id":"bd108e30.cac4","type":"ui_slider","z":"9ef02980.b2d7a8","name":"","label":"Conductor","tooltip":"","group":"97fc8fdd.1b98f","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"20","max":"1","step":"0.5","x":810,"y":280,"wires":[["b1efdc0f.cac63"]]},{"id":"806fd2dc.0257f","type":"ui_slider","z":"9ef02980.b2d7a8","name":"","label":"Co-piloto","tooltip":"","group":"97fc8fdd.1b98f","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"20","max":"1","step":"0.5","x":800,"y":220,"wires":[["40ccd03c.738f9"]]},{"id":"939ac23a.6eda8","type":"ui_slider","z":"9ef02980.b2d7a8","name":"","label":"Speed","tooltip":"","group":"97fc8fdd.1b98f","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Speed","min":"5","max":"100","step":"5","x":330,"y":240,"wires":[["37a99e61.0bdc22"]]},{"id":"abac589f.bed068","type":"ui_slider","z":"9ef02980.b2d7a8","name":"","label":"Volante","tooltip":"","group":"97fc8fdd.1b98f","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"9","max":"3","step":"0.1","x":800,"y":160,"wires":[["f69d0c04.8bc08"]]},{"id":"d7e86439.b5a908","type":"ui_switch","z":"9ef02980.b2d7a8","name":"","label":"Start/Stop","tooltip":"","group":"5fc7646b.c2b3dc","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"On","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":320,"y":320,"wires":[["778f9709.68d2d8","3249bfdc.2b375","812b59b8.fc6338"]]},{"id":"729ee7a4.a64868","type":"ui_switch","z":"9ef02980.b2d7a8","name":"","label":"Sentido","tooltip":"","group":"5fc7646b.c2b3dc","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Direction","style":"","onvalue":"0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","x":320,"y":440,"wires":[["3249bfdc.2b375"]]},{"id":"8248fe2a.c84ba","type":"ui_switch","z":"9ef02980.b2d7a8","name":"","label":"Start/Stop","tooltip":"","group":"db519559.6bab38","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"On","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":320,"y":520,"wires":[["c3bcbc2.3966a4","35c1e097.9c7cb","812b59b8.fc6338"]]},{"id":"d8ff8c65.b299d","type":"ui_switch","z":"9ef02980.b2d7a8","name":"","label":"Sentido","tooltip":"","group":"db519559.6bab38","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Direction","style":"","onvalue":"0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","x":320,"y":640,"wires":[["35c1e097.9c7cb"]]},{"id":"1e7833e7.1a22cc","type":"ui_switch","z":"9ef02980.b2d7a8","name":"","label":"Start/Stop","tooltip":"","group":"97fc8fdd.1b98f","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"On","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":320,"y":160,"wires":[["812b59b8.fc6338","37a99e61.0bdc22","d7e86439.b5a908","8248fe2a.c84ba"]]},{"id":"6cc99078.f8b51","type":"ui_switch","z":"9ef02980.b2d7a8","name":"","label":"Sentido","tooltip":"","group":"97fc8fdd.1b98f","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Direction","style":"","onvalue":"0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","x":320,"y":200,"wires":[["37a99e61.0bdc22"]]},{"id":"8bf91bb5.339748","type":"ui_template","z":"6c787050.28e32","group":"14536bd0.490ea4","name":"stuff","order":0,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":310,"y":60,"wires":[[]]},{"id":"218e3a7d.63e916","type":"ui_template","z":"6c787050.28e32","group":"14536bd0.490ea4","name":"Apagar","order":2,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Hello World'})\"> \n    <i class=\"fa fa-power-off fa-3x\"></i>\n    \n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":320,"y":200,"wires":[["2b44687c.7cc448"]]},{"id":"c284e80a.9643f8","type":"ui_template","z":"ea2bdf85.90ed4","group":"f3820f71.20a58","name":"Video","order":0,"width":"0","height":"0","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":890,"y":140,"wires":[[]]},{"id":"368eba13.7df616","type":"base64","z":"ea2bdf85.90ed4","name":"","action":"str","property":"payload","x":600,"y":140,"wires":[["f1265587.c44178"]]},{"id":"dcb9eed.06f9c1","type":"ui_template","z":"242486b5.520f5a","group":"d07b0629.bfe388","name":"Adelante","order":2,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded Momentary\" style=\"background-color:#c0392b\"> \n    <i class=\"fa fa-arrow-up fa-2x\" aria-hidden=\"true\"></i>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":180,"y":280,"wires":[["f9f5646c.4d68a8","ae66ea2a.1a8068"]]},{"id":"61f564bb.b395ac","type":"ui_template","z":"242486b5.520f5a","group":"d07b0629.bfe388","name":"Derecha","order":2,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#009999\" ng-click=\"send({payload: 'Hello World'})\"> \n    <i class=\"fa fa-camera fa-2x\" aria-hidden=\"true\"></i>\n    <i class=\"fa fa-arrow-right fa-2x\" aria-hidden=\"true\"></i>\n</md-button> \n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":180,"y":360,"wires":[[]]},{"id":"922e13fc.8f914","type":"ui_template","z":"242486b5.520f5a","group":"d07b0629.bfe388","name":"arriba der","order":2,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Hello World'})\"> \n    <i class=\"fa fa-reply fa-2x fa-flip-horizontal\"></i>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":180,"y":320,"wires":[[]]},{"id":"5d8ab55d.45ecec","type":"ui_template","z":"242486b5.520f5a","group":"d07b0629.bfe388","name":"Izquierda","order":2,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#009999\" ng-click=\"send({payload: 'Hello World'})\"> \n    <i class=\"fa fa-arrow-left fa-2x\" aria-hidden=\"true\"></i>\n    <i class=\"fa fa-camera fa-2x\" aria-hidden=\"true\"></i>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":180,"y":120,"wires":[[]]},{"id":"a7e46ad0.d972f8","type":"ui_template","z":"242486b5.520f5a","group":"d07b0629.bfe388","name":"Motores","order":2,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Hello World'})\"> \n    Motores<br/><i class=\"fa fa-power-off\" aria-hidden=\"true\"></i>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":180,"y":240,"wires":[["132f0af7.94f4a5"]]},{"id":"7ca0db0e.205254","type":"ui_template","z":"242486b5.520f5a","group":"d07b0629.bfe388","name":"abajo iz","order":2,"width":"2","height":"1","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Hello World'})\"> \n    <i class=\"fa fa-reply fa-2x fa-flip-vertical\"></i>\n</md-button> \n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":180,"y":160,"wires":[[]]},{"id":"45cf0d3d.d1d3a4","type":"ui_template","z":"242486b5.520f5a","group":"d07b0629.bfe388","name":"Atrás","order":2,"width":"2","height":"1","format":"<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" \n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\"> \n   \n    <i class=\"fa fa-arrow-down fa-2x\" aria-hidden=\"true\"></i>\n   \n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":170,"y":200,"wires":[["380e9caf.f73e04"]]},{"id":"3262675.90b3998","type":"ui_template","z":"242486b5.520f5a","group":"d07b0629.bfe388","name":"arriba Iz","order":2,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Hello World'})\"> \n    <i class=\"fa fa-reply fa-2x\"></i>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":180,"y":80,"wires":[[]]},{"id":"59987e3f.89538","type":"ui_template","z":"242486b5.520f5a","group":"d07b0629.bfe388","name":"abajo der","order":2,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: '1'})\"> \n    <i class=\"fa fa-reply fa-2x fa-rotate-180\"></i>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":180,"y":400,"wires":[[]]},{"id":"2da160ef.108a7","type":"ui_template","z":"242486b5.520f5a","group":"d07b0629.bfe388","name":"blue","order":4,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":190,"y":520,"wires":[[]]},{"id":"a8a5afe.5c7215","type":"ui_template","z":"242486b5.520f5a","group":"d07b0629.bfe388","name":"green","order":3,"width":"2","height":"2","format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#27ae60\" ng-click=\"send({payload: 'Hello World'})\"> \n    Green<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":190,"y":480,"wires":[[]]},{"id":"2cb3a818.044f78","type":"ui_template","z":"242486b5.520f5a","group":"d07b0629.bfe388","name":"little blue","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#16a085\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":200,"y":600,"wires":[[]]},{"id":"3c7d9435.4c6dfc","type":"ui_template","z":"242486b5.520f5a","group":"d07b0629.bfe388","name":"little red","order":6,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#e67e22\" ng-click=\"send({payload: 'Hello World'})\"> \n    Red<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":200,"y":560,"wires":[[]]},{"id":"132f0af7.94f4a5","type":"change","z":"242486b5.520f5a","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":240,"wires":[[]]},{"id":"f9f5646c.4d68a8","type":"change","z":"242486b5.520f5a","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"Direction","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":280,"wires":[["ae66ea2a.1a8068"]]},{"id":"380e9caf.f73e04","type":"change","z":"242486b5.520f5a","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"Direction","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":200,"wires":[["ae66ea2a.1a8068"]]},{"id":"2c84f856.e37868","type":"link out","z":"242486b5.520f5a","name":"","links":["3f2ad83.d693028","f2da30ae.b0f87"],"x":455,"y":240,"wires":[]},{"id":"ae66ea2a.1a8068","type":"debug","z":"242486b5.520f5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":200,"wires":[]},{"id":"1c54a280.2cabae","type":"ui_template","z":"242486b5.520f5a","group":"d07b0629.bfe388","name":"Formato botones","order":0,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n\n  \n</style>\n\n<script>\n$('.vibrate').on('touchstart mousedown', function() {\n  navigator.vibrate(100);\n});\n$('.vibrate').on('touchend mouseup', function() {\n  navigator.vibrate(100);\n});\n\n$('.momentary').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": true});\n});\n\n$('.momentary').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": false});\n});\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":110,"y":20,"wires":[[]]}]